{% load i18n static crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Mapper{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" /-->
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<style>

		html, body {
			height: 100%;
		}

        @font-face {
            font-family: 'GillSans';
            src: url('{% static "fonts/GillSans.woff" %}');
        }
        @font-face {
            font-family: 'GillSansSemiBold';
            src: url('{% static "fonts/GillSans-SemiBold.woff" %}');
        }
        @font-face {
            font-family: 'GillSansBold';
            src: url('{% static "fonts/GillSans-Bold.woff" %}');
        }
        @font-face {
            font-family: 'NimbusSans';
            src: url('{% static "fonts/NimbusSans.woff" %}');
        }

        html, body {
            font-family: NimbusSans, Arial, Helvetica, sans-serif;
            letter-spacing: .025em;
            color: #242847;
        }

        h1, h2, h3, h4 {
            font-family: 'GillSansSemiBold';
            letter-spacing: .1em;
            color: #242847;
        }

        h5, h6 {
            font-family: 'GillSans';
            letter-spacing: .1em;
            color: #242847;
        }

		.wrapper {
			display: flex;
			height: 100%;
			width: 100%;
			align-items: stretch;
		}
		#filterSidebar {
			min-width: 250px;
			max-width: 250px;
			height: 100%;
		}
		#filterSidebar.active {
			margin-left: -250px;
		}
		#editSidebar {
			min-width: 250px;
			max-width: 250px;
			height: 100%;
		}
		#editSidebar.active {
			margin-left: -250px;
		}
</style>

    {% block head %}
    {% endblock %}

</head>


<body>

{% block top %}

	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTopSupportedContent">

				<ul class="navbar-nav mr-auto">
				</ul>

			</div>

		</div>
	</nav>

{% endblock %}


{% block logo %}
<div class="fixed-top" style="z-index: -1!important">
	<a class="navbar-brand" data-toggle="modal" data-target="#confirmStartOver"
	   href="{% if workshop %}{% url 'mapper_index_workshop' workshop_slug=workshop.slug %}{% else %}{% url 'mapper_index' %}{% endif %}">
		<img src="{% static 'mapper-logo.png' %}" width="100" class="ml-3 mt-2">
	</a>
</div>
{% endblock %}


{% block bottom %}

	<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
		<div class="container">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav {% if not show_menu %}d-none{% endif %}" id="bottomMenu">
					<li class="nav-item dropup">
						<a class="nav-link dropdown-toggle" href="#" id="newDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  {% trans "Manage" %}
						</a>
						<div class="dropdown-menu" aria-labelledby="newDropdown">
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#">
								{% trans "Extend your map" %}
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" data-toggle="modal" data-target="#confirmStartOver">
								{% trans "Start over" %}
							</a>
						</div>
					</li>
					<li class="nav-item dropup">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  {% trans "View" %}
						</a>
						<div class="dropdown-menu" aria-labelledby="newDropdown">
							<a class="dropdown-item" href="{% url 'mapper_ring' %}">
								{% trans "Interaction circles" %}
							</a>
							<a class="dropdown-item" href="{% url 'mapper_venn' %}">
								{% trans "Venn diagram" %}
							</a>
						</div>
					</li>
					<li class="nav-item dropup">
						<a class="nav-link dropdown-toggle" href="#" id="saveDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{% trans "Save" %}
						</a>
						<div class="dropdown-menu" aria-labelledby="saveDropdown">
							<a class="dropdown-item" href="#" id="exportJSON" download="network.json">
								{% trans "Data (JSON)" %}
							</a>
							<a class="dropdown-item" href="#" id="exportPNG" download="network.png">
								{% trans "Image (PNG)" %}
							</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'mapper_add' %}">
							{% trans "Add stakeholder" %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'mapper_suggest' %}">
							{% trans "View suggestions" %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="filterSidebarCollapse" href="#">
							{% trans "Filter" %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="legendSidebarCollapse" href="#">
							{% trans "Legend" %}
						</a>
					</li>
				</ul>

			</div>

		</div>
	</nav>

{% endblock %}



<div class="wrapper h-100">

	<div id="filterSidebar" class="collapse bg-light h-100 sidebar">

		{% include 'mapper/filter_form.html' %}

	</div>


	<div id="legendSidebar" class="collapse bg-light h-100 sidebar">

		{% include 'mapper/legend.html' %}

	</div>


	{% if stakeholder_form %}
	<div id="editSidebar" class="collapse bg-light h-100 sidebar">
		<form id="nodeUpdateForm">

			<h4>
				Update stakeholder information
			</h4>

			{% csrf_token %}
			{{ stakeholder_form|crispy }}
			<button type="submit" class="btn btn-primary w-100">
				Update map
			</button>
			<button type="button" id="buttonNodeDelete" class="btn btn-outline-danger w-100 mt-3">
				Delete node
			</button>

		</form>
	</div>
	{% endif %}

	<div class="container-fluid h-100">

		<div class="row h-100">

			<div class="col offset-1 mt-5">

				{% for message in messages %}

					<div class="alert alert-warning alert-dismissible mb-4">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

				{% endfor %}

				{% block content %}
				{% endblock %}

			</div>

			{% block right %}
			<div class="col-3 h-100" id="right-sidebar" style="background-color: #fcf2d7;">

				<div class="mt-3">

					{% block right-content %}

						{% if title %}
							<h4>{{ title }}</h4>
						{% endif %}

						{% if description %}
							<p class="lead">{{ description|linebreaks }}</p>
						{% endif %}


						<div class="row nav-buttons mt-auto w-100" style="position: absolute; bottom: 20px;">
							<div class="col">
							{% if prev_page %}
								<a href="{% if workshop %}{% url 'mapper_page_workshop' workshop_slug=workshop.slug page_no=prev_page %}{% else %}{% url 'mapper_page' page_no=prev_page %}{% endif %}" id="btnPrev">
									<img src="{% static 'arrow_left_small.png' %}" width="50">
								</a>
							{% endif %}
							</div>
							<div class="col">
							{% if next_page %}
								<a class="float-right" href="{% if workshop %}{% url 'mapper_page_workshop' workshop_slug=workshop.slug page_no=next_page %}{% else %}{% url 'mapper_page' page_no=next_page %}{% endif %}" id="btnNext">
									<img src="{% static 'arrow_right_small.png' %}" width="50">
								</a>
							{% endif %}
							</div>
						</div>

					{% endblock %}

				</div>

			</div>
			{% endblock %}

		</div>

	</div>

</div>



<div class="modal" tabindex="-1" role="dialog" id="modalTerms">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agree with the privacy terms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
			You can download this map as an image (png), or as a json file to continue working on it later.
		</p>
		<p>
			No identifiable data will be shared or published. <a href="#">Read more</a> about how we protect your data.
		</p>
		<p>
			<input type="checkbox" id="checkTermsOK">
			<label for="checkTermsOK">
				I give permission for the data to be used for research purposes.
			</label>
		</p>
      </div>
      <div class="modal-footer">
        <a href="#" type="button" class="btn btn-primary disabled" id="exportJSONModal" download="network.json">Download data</a>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modalSave">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agree with the privacy terms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
			You can download this map as an image (png), or as a data (json) file to continue working on it later.
		</p>
		<p>
			Please agree with the <a href="#">data usage terms</a> and give permission for the data to be used for research purposes.
		</p>
		<p>
			No identifiable data will be shared or published. <a href="#">Read more</a> about how we protect your data.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">I don't agree</button>
        <button type="button" class="btn btn-primary" id="btnTermsOK">I agree</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="confirmStartOver">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to start over?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
			This will erase all your data.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{% if workshop %}{% url 'mapper_index_workshop' workshop_slug=workshop.slug %}{% else %}{% url 'mapper_index' %}{% endif %}"
		   class="btn btn-primary" id="btnConfirmStartOver">Yes, start over!</a>
      </div>
    </div>
  </div>
</div>


{% block js %}
{% endblock %}


<script>

$(document).ready(function() {

	var stakeholders = {{ stakeholders|safe }};

	var stakeholders_filtered = {
		interact: {1: [], 2: [], 3: []},
		collaborate: {1: [], 2: [], 3: []},
		similarity_count: {0: [], 1: [], 2: [], 3: [], 4: []},
		values: [],
		working: [],
		resources: [],
		custom: []
	}

	$.each(stakeholders, function(name, data) {
		if ('interact' in data)
			stakeholders_filtered['interact'][data['interact']].push(name);
		if ('collaborate' in data)
			stakeholders_filtered['collaborate'][data['collaborate']].push(name);
		if ('similarities' in data) {
			similartity_count = data['similarities'].length;
			if (data['similarities'].indexOf('values') !== -1)
				stakeholders_filtered['values'].push(name);
			if (data['similarities'].indexOf('working') !== -1)
				stakeholders_filtered['working'].push(name);
			if (data['similarities'].indexOf('resources') !== -1)
				stakeholders_filtered['resources'].push(name);
			if (data['similarities'].indexOf('custom') !== -1) {
				stakeholders_filtered['custom'].push(name);
				// we are not counting custom parameter similarity!!
				similartity_count -= 1;
			}
			stakeholders_filtered['similarity_count'][similartity_count].push(name);
		} else {
			stakeholders_filtered['similarity_count'][0].push(name);
		}
	});

	// initial filter state
	var filter_state = {
		interact: [1, 2, 3],
		collaborate: [1, 2, 3],
		similarity_count: [0, 1, 2, 3],
		values: 0,
		working: 0,
		resources: 0,
		custom: 0
	}

	function apply_filters() {

		var filtered = Object.keys(stakeholders);  // every stakeholder; not filtered yet

		$.each(['interact', 'collaborate', 'similarity_count'], function(i, filter_name) {
			var passed = [];
			$.each(filter_state[filter_name], function(i, state) {
				passed = passed.concat(stakeholders_filtered[filter_name][state]);
			});
			filtered = filtered.filter(s => passed.includes(s));
		});

		$.each(['values', 'working', 'resources', 'custom'], function(i, filter_name) {
			if (filter_state[filter_name] != 0) {
				var f = stakeholders_filtered[filter_name];
				if (filter_state[filter_name] == 1) {
					filtered = filtered.filter(s => f.includes(s));
				} else {
					filtered = filtered.filter(s => !f.includes(s));
				}
			}
		});

		s.graph.nodes().forEach(function(n) {
			if (filtered.indexOf(n.label.trim()) !== -1) {
				n.hidden = false;
			} else if (n.id != 0) {
				n.hidden = true;
			}
		});

	    s.refresh();
	}

	$('#filterForm button').click(function(e) {

		var $this = $(this);
		var target = $this.data('target');

		if (['interact', 'collaborate', 'similarity_count'].indexOf(target) !== -1) {

			$this.toggleClass('active');
			var $actives = $('button.active[data-target=' + target + ']');
			filter_values = [];
			$actives.each(function() {
				filter_values.push($(this).val());
			});
			filter_state[target] = filter_values;

		} else {  // similarity types

			$('button[data-target=' + target + ']').removeClass('active');
			$this.addClass('active');
			filter_state[target] = $this.val();

		}

		apply_filters();

	});


    $('#filterSidebarCollapse').on('click', function () {
        $('#filterSidebar').toggleClass('collapse');
    });


    $('#legendSidebarCollapse').on('click', function () {
        $('#legendSidebar').toggleClass('collapse');
    });


	var termsOK = {{ terms_ok|lower }};

	function mapSave() {
		$.post('{% url "mapper_save" %}', function(data) {
			console.log(data);
		});
	};

	$('#btnSave').click(function() {
		if (termsOK) {
			mapSave();
		} else {
			$('#modalSave').modal('show');
		}
	});

	function approveTerms() {
		$.post('{% url "mapper_approve_terms" %}', function(data) {
			termsOK = true;
			mapSave();
			$('#modalSave').modal('hide');
		});
	};

	$('#btnTermsOK').click(function() {
		approveTerms();
	});

	$('#saveDropdown').on('click', function (e) {
		if (!termsOK) {
			e.preventDefault();
			$('#saveDropdown').dropdown('toggle');
			$('#modalSave').modal('show');
		} else {
			mapSave();
		}
	})

	$('#checkTermsOK').change(function() {
		if (this.checked) {
			approveTerms();
			$('#exportJSONModal').removeClass('disabled');
		} else {
			$('#exportJSONModal').addClass('disabled');
		}
	});


	var $exportPNG = $('#exportPNG');

	if ((typeof s) == 'undefined') {
		$exportPNG.addClass('disabled');
	};


    $exportPNG.click(function() {
		var src_base64 = s.renderers[0].snapshot({format: 'png', labels: true});
		$exportPNG.attr('href', src_base64);
    });


	function downloadJSON($el) {
		var data = btoa(
			JSON.stringify({
				organization: {{ organization|safe|lower }},
				stakeholders: stakeholders,
				{% if custom_similarity_parameter %}
				custom_similarity_parameter: '{{ custom_similarity_parameter }}',
				{% endif %}
				last_page_no: {% if page_no %}{{ page_no }}{% else %}1{% endif %}
			})
		);
        $el.attr('href', 'data:text/json;base64,' + data);
	};

    $('#exportJSON').click(function() {
    	downloadJSON($(this));
    });

    $('#exportJSONModal').click(function() {
    	downloadJSON($(this));
    	$('#btnModal').hide();
    });


	{% if stakeholder_form %}

	// edit nodes

	s.bind('clickNode', function(e) {
		var $form = $('#nodeUpdateForm');

		var node = e.data.node;

		if (node.id == 0) return;

		$('#filterSidebar').collapse('hide');

        $('#editSidebar').collapse('show');

		var name = node.fullLabel;
		var stakeholder = stakeholders[name];

		console.log(stakeholder);

		$form.find('input[type=checkbox]').prop('checked', false);

		$form.find('[name=name]').val(name);
		$form.find('[name=original_name]').val(name);

		if ('similarities' in stakeholder) {
			$form.find('[name=values]').prop('checked', stakeholder.similarities.indexOf('values') >= 0);
			$form.find('[name=working]').prop('checked', stakeholder.similarities.indexOf('working') >= 0);
			$form.find('[name=resources]').prop('checked', stakeholder.similarities.indexOf('resources') >= 0);
			$form.find('[name=custom]').prop('checked', stakeholder.similarities.indexOf('custom') >= 0);
		}

		$form.find('[name=interact]').val(stakeholder.interact);
		$form.find('[name=collaborate]').val(stakeholder.collaborate);

		s.refresh();
	});

	$(document).click(function(event) {
		var $target = $(event.target);
		if(!$target.closest('#editSidebar').length && $('#editSidebar').is(":visible")) {
			$('#editSidebar').collapse('hide');
		}
	});

	$('#nodeUpdateForm').submit(function(e) {
		e.preventDefault();

		//data = JSON.stringify($(this).serializeArray());
		data = $(this).serialize();

		console.log(data);

		$.ajax({
			type: 'POST',
			url: '{% url "mapper_node_update" %}',
			data: data,
			dataType: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	});

	$('#buttonNodeDelete').click(function(e) {
		console.log($('#nodeUpdateForm #id_name').val());
		$.ajax({
			type: 'POST',
			url: '{% url "mapper_node_delete" %}',
			data: {name: $('#nodeUpdateForm #id_name').val()},
			dataType: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	});


	{% endif %}

});

</script>

</body>
</html>
