{% load i18n static crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Mapper{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" /-->
    <!--link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" /-->
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<style>

		html, body {
			height: 100%;
		}

        @font-face {
            font-family: 'GillSans';
            src: url('{% static "fonts/GillSans.woff" %}');
        }
        @font-face {
            font-family: 'GillSansSemiBold';
            src: url('{% static "fonts/GillSans-SemiBold.woff" %}');
        }
        @font-face {
            font-family: 'GillSansBold';
            src: url('{% static "fonts/GillSans-Bold.woff" %}');
        }
        @font-face {
            font-family: 'NimbusSans';
            src: url('{% static "fonts/NimbusSans.woff" %}');
        }

        html, body {
            font-family: NimbusSans, Arial, Helvetica, sans-serif;
            letter-spacing: .025em;
            color: #242847;
        }

        h1, h2, h3, h4 {
            font-family: 'GillSansSemiBold';
            letter-spacing: .1em;
            color: #242847;
        }

        h5, h6 {
            font-family: 'GillSans';
            letter-spacing: .1em;
            color: #242847;
        }
        
        blockquote {
            font-family: 'GillSansSemiBold';
            letter-spacing: .1em;
            color: #242847;
            text-align: center;
        }

        #right-sidebar {
        	position: fixed;
			height: 100%;
			bottom: 0px;
			right: 0px;
        }

        #infoSidebar {
        	position: fixed;
			height: 100%;
			bottom: 0px;
			right: 0px;
        }

		#top-sidebar.collapse:not(.show) {
		  display: block;
		  /* height = lineheight * no of lines to display */
		  height: 4.5em;
		  overflow: hidden;
		}
        
        @media (min-width: 768px) {
            .container-questions {
              max-width: 500px; 
            margin: auto}
</style>

    {% block head %}
    {% endblock %}

</head>


<body>


{% comment %}
<div class="container-fluid h-100 d-md-none">

	<div class="row">

		<div class="col-1 text-center">

			<img src="{% static 'mapper-logo-beta.png' %}" width="100" class="ml-3 mt-2">

		</div>

		<div class="col mt-5">

			<h1 class="m-5 display-4">
				<small class="d-block">Welcome to the</small>
				STAKEHOLDER MAPPING
				<br>
				tool!
			</h1>

			<p class="lead mt-3 ml-5">
				We are still improving the smartphone version of this tool. For now, you can use this tool on a tablet or computer.
				<br><br>
				The tool should be accessible through your smartphone next week.
			</p>

		</div>

	</div>

</div>
{% endcomment %}


{# mobile top bar #}

{% block top %}

<div class="container-fluid w-100 d-md-none {% if instructions_align == 'bottom' %}fixed-bottom mb-5{% endif %}">

	<div class="row">

	{% if page_no %}

		<div class="bg-warning pl-3 pb-3 pr-3 w-100 collapse show" id="top-sidebar">

			{% if instructions_align == 'bottom' %}
				<button type="button" class="close pt-2"
					data-target="#top-sidebar"
					data-toggle="collapse"
				>
					<span aria-hidden="true">
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						  <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
						  <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
						</svg>
					</span>
					<span class="sr-only">Close</span>
				</button>
			{% endif %}

			{% include "mapper/sidebar.html" %}

		</div>

	{% endif %}

	</div>

</div>

{% endblock %}

{# end mobile top bar #}


<div class="container-fluid h-100 {# d-none d-md-block #}">

	<div class="row h-100">

		<div class="col-2 col-md-1 text-center {% if instructions_align == 'top' %}d-none d-md-block{% endif %}">

			<a class="navbar-brand" href="{% url 'mapper_index' %}">
				<img src="{% static 'mapper-logo-beta.png' %}" width="80" class="ml-3 mt-2 {% if instructions_align == 'top' %}d-none d-md-block{% endif %}">
			</a>

			{% block floating-menu %}
			{% if is_last or not page_no %}
			<div class="mt-5 ml-4" id="floating-menu">
				{% include "mapper/floating_menu.html" %}
			</div>
			{% endif %}
			{% endblock %}

		</div>

		<div class="col mt-5 mb-5 mb-md-0">

			{% for message in messages %}

				<div class="alert alert-warning alert-dismissible mb-4">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			{% endfor %}

			{% block content %}
			{% endblock %}

			<br>

		</div>


		{% block right %}

			{% if page_no %}
				{# offset the sidebar #}
				<div class="col-3 d-none d-md-block"></div>

				<div class="col-3 bg-warning d-none d-md-block" id="right-sidebar">

					{% include "mapper/sidebar.html" %}

				</div>

			{% endif %}

		{% endblock %}


		{% block bottom %}

			{# nav buttons #}

			{% if page_no %}

				<div class="fixed-bottom bg-warning offset-md-9 p-2" id="bottom-sidebar">

					{% if prev_page %}
						<a href="{% url 'mapper_page' page_no=prev_page %}" id="btnPrev">
							<img src="{% static 'arrow_left_small.png' %}" width="50">
						</a>
					{% endif %}
					{% if next_page %}
						<a class="float-right" href="{% url 'mapper_page' page_no=next_page %}" id="btnNext">
							<img src="{% static 'arrow_right_small.png' %}" width="50">
						</a>
					{% elif page_no %}
						<a href="{% url 'mapper_ring' %}" class="btn btn-lg btn-primary float-right">
							{% trans "LET'S GO" %}
						</a>
					{% endif %}

				</div>

			{% endif %}

			{# end nav buttons for mobile #}

		{% endblock %}


		<div class="bg-danger col-9 col-md-3 d-none p-3" id="infoSidebar" style="z-index: 10000!important">

			<div id="infoAdd" class="sidebarContent d-none">
				{% include "mapper/info_add.html" %}
			</div>

			<div id="infoLegend" class="sidebarContent d-none">
				{% include "mapper/info_legend.html" %}
			</div>

			<div id="infoFilter" class="sidebarContent d-none">
				{% include "mapper/info_filter.html" %}
			</div>

			<div id="infoView" class="sidebarContent d-none">
				{% include "mapper/info_view.html" %}
			</div>

			<div id="infoDownload" class="sidebarContent d-none">
				{% include "mapper/info_download.html" %}
			</div>

			<div id="infoUpdate" class="sidebarContent d-none">
				{% include "mapper/info_update.html" %}
			</div>

		</div>

	</div>

</div>


{% block js %}
{% endblock %}


<script>

$(document).ready(function() {

    $('.close[data-dismiss=sidebar]').click(function() {
        $('#infoSidebar').addClass('d-none');
        $('.menuButton').removeClass('active');
    });

	var stakeholders = {{ stakeholders|safe }};

	var stakeholders_filtered = {
		interact: {1: [], 2: [], 3: []},
		collaborate: {1: [], 2: [], 3: []},
		similarity_count: {0: [], 1: [], 2: [], 3: [], 4: []},
		values: [],
		working: [],
		resources: [],
		custom: []
	}

	$.each(stakeholders, function(name, data) {
		if ('interact' in data)
			stakeholders_filtered['interact'][data['interact']].push(name);
		if ('collaborate' in data)
			stakeholders_filtered['collaborate'][data['collaborate']].push(name);
		if ('similarities' in data) {
			similartity_count = data['similarities'].length;
			if (data['similarities'].indexOf('values') !== -1)
				stakeholders_filtered['values'].push(name);
			if (data['similarities'].indexOf('working') !== -1)
				stakeholders_filtered['working'].push(name);
			if (data['similarities'].indexOf('resources') !== -1)
				stakeholders_filtered['resources'].push(name);
			if (data['similarities'].indexOf('custom') !== -1) {
				stakeholders_filtered['custom'].push(name);
				// we are not counting custom parameter similarity!!
				similartity_count -= 1;
			}
			stakeholders_filtered['similarity_count'][similartity_count].push(name);
		} else {
			stakeholders_filtered['similarity_count'][0].push(name);
		}
	});

	console.log(stakeholders_filtered);

	// initial filter state
	var filter_state = {
		interact: [1, 2, 3],
		collaborate: [1, 2, 3],
		similarity_count: [0, 1, 2, 3],
		values: 0,
		working: 0,
		resources: 0,
		custom: 0
	}

	function apply_filters() {

		var filtered = Object.keys(stakeholders);  // every stakeholder; not filtered yet

		$.each(['interact', 'collaborate', 'similarity_count'], function(i, filter_name) {
			var passed = [];
			$.each(filter_state[filter_name], function(i, state) {
				passed = passed.concat(stakeholders_filtered[filter_name][state]);
			});
			filtered = filtered.filter(s => passed.includes(s));
		});

		$.each(['values', 'working', 'resources', 'custom'], function(i, filter_name) {
			if (filter_state[filter_name] != 0) {
				var f = stakeholders_filtered[filter_name];
				if (filter_state[filter_name] == 1) {
					filtered = filtered.filter(s => f.includes(s));
				} else {
					filtered = filtered.filter(s => !f.includes(s));
				}
			}
		});

		s.graph.nodes().forEach(function(n) {
			if (n.id != 0) {
				if (filtered.indexOf(n.fullLabel.trim()) !== -1) {
					n.hidden = false;
				} else {
					n.hidden = true;
				}
			}
		});

	    s.refresh();
	}

	$('#filterForm button').click(function(e) {

		var $this = $(this);
		var target = $this.data('target');

		if (['interact', 'collaborate', 'similarity_count'].indexOf(target) !== -1) {

			$this.toggleClass('active');
			var $actives = $('button.active[data-target=' + target + ']');
			filter_values = [];
			$actives.each(function() {
				filter_values.push($(this).val());
			});
			filter_state[target] = filter_values;

		} else {  // similarity types

			$('button[data-target=' + target + ']').removeClass('active');
			$this.addClass('active');
			filter_state[target] = $this.val();

		}

		apply_filters();

	});


	/*
    $exportPNG.click(function() {
		var src_base64 = s.renderers[0].snapshot({format: 'png', labels: true});
		$exportPNG.attr('href', src_base64);
    });
    */


	{% if stakeholder_form %}

	// update nodes

	s.bind('clickNode', function(e) {

		var $form = $('#nodeUpdateForm');

		var node = e.data.node;

		if (node.id == 0) return;

		// show sidebar update form
		$('.sidebarContent').addClass('d-none');
		$('#infoSidebar').removeClass('d-none');
		$('#infoUpdate').removeClass('d-none');
		$('.menuButton').removeClass('active');

		var name = node.fullLabel;
		var stakeholder = stakeholders[name];

		console.log(stakeholder);

		$form.find('input[type=checkbox]').prop('checked', false);

		$form.find('[name=name]').val(name);
		$form.find('[name=original_name]').val(name);

		if ('similarities' in stakeholder) {
			$form.find('[name=values]').prop('checked', stakeholder.similarities.indexOf('values') >= 0);
			$form.find('[name=working]').prop('checked', stakeholder.similarities.indexOf('working') >= 0);
			$form.find('[name=resources]').prop('checked', stakeholder.similarities.indexOf('resources') >= 0);
			$form.find('[name=custom]').prop('checked', stakeholder.similarities.indexOf('custom') >= 0);
		}

		$form.find('[name=interact]').val(stakeholder.interact);
		$form.find('[name=collaborate]').val(stakeholder.collaborate);

		s.refresh();
	});

	$(document).click(function(event) {
		var $target = $(event.target);
		if(!$target.closest('#editSidebar').length && $('#editSidebar').is(":visible")) {
			$('#editSidebar').collapse('hide');
		}
	});

	$('.nodeForm').submit(function(e) {
		e.preventDefault();

		//data = JSON.stringify($(this).serializeArray());
		data = $(this).serialize();

		console.log(data);

		$.ajax({
			type: 'POST',
			url: '{% url "mapper_node_update" %}',
			data: data,
			dataType: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	});

	$('#buttonNodeDelete').click(function(e) {
		console.log($('#nodeUpdateForm #id_name').val());
		$.ajax({
			type: 'POST',
			url: '{% url "mapper_node_delete" %}',
			data: {name: $('#nodeUpdateForm #id_name').val()},
			dataType: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	});


	{% endif %}

});

</script>

</body>
</html>
