{% load i18n static crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Mapper{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" /-->
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

	<style>

		html, body {
			height: 100%;
		}

        @font-face {
            font-family: 'GillSans';
            src: url('{% static "fonts/GillSans.woff" %}');
        }
        @font-face {
            font-family: 'GillSansSemiBold';
            src: url('{% static "fonts/GillSans-SemiBold.woff" %}');
        }
        @font-face {
            font-family: 'GillSansBold';
            src: url('{% static "fonts/GillSans-Bold.woff" %}');
        }
        @font-face {
            font-family: 'NimbusSans';
            src: url('{% static "fonts/NimbusSans.woff" %}');
        }

        html, body {
            font-family: NimbusSans, Arial, Helvetica, sans-serif;
            letter-spacing: .025em;
            color: #242847;
        }

        h1, h2, h3, h4 {
            font-family: 'GillSansSemiBold';
            letter-spacing: .1em;
            color: #242847;
        }

        h5, h6 {
            font-family: 'GillSans';
            letter-spacing: .1em;
            color: #242847;
        }

        #right-sidebar {
        	background-color: #fcf2d7;
        	position: fixed;
			height: 100%;
			bottom: 0px;
			right: 0px;
        }

        #infoSidebar {
        	background-color: #fc9966;
        	position: fixed;
			height: 100%;
			bottom: 0px;
			right: 0px;
        }

</style>

    {% block head %}
    {% endblock %}

</head>


<body>


{% block top %}

{% endblock %}


{% block bottom %}

{% endblock %}


<div class="container-fluid h-100">

	<div class="row h-100">

		<div class="col-1 text-center">

			<a class="navbar-brand" href="{% url 'mapper_index' %}">
				<img src="{% static 'mapper-logo.png' %}" width="100" class="ml-3 mt-2">
			</a>

			{% block floating-menu %}
			{% if not page_no %}
			<div class="mt-5 ml-4" id="floating-menu">
				{% include "mapper/floating_menu.html" %}
			</div>
			{% endif %}
			{% endblock %}

		</div>

		<div class="col mt-5">

			{% for message in messages %}

				<div class="alert alert-warning alert-dismissible mb-4">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

			{% endfor %}

			{% block content %}
			{% endblock %}

		</div>

		{% if page_no %}

			{% block right %}

			{# offset the sidebar #}
			<div class="col-3"></div>

			<div class="col-3" id="right-sidebar">

				{% include "mapper/sidebar.html" %}

			</div>

			{% endblock %}

		{% endif %}

		<div class="col-3 d-none p-3" id="infoSidebar" style="z-index: 10000!important">

			<div id="infoLegend" class="sidebarContent d-none">
				{% include "mapper/info_legend.html" %}
			</div>

			<div id="infoFilter" class="sidebarContent d-none">
				{% include "mapper/info_filter.html" %}
			</div>

			<div id="infoView" class="sidebarContent d-none">
				{% include "mapper/info_view.html" %}
			</div>

			<div id="infoDownload" class="sidebarContent d-none">
				{% include "mapper/info_download.html" %}
			</div>

			<div id="infoUpdate" class="sidebarContent d-none">
				{% include "mapper/info_update.html" %}
			</div>

		</div>

	</div>

</div>



<div class="modal" tabindex="-1" role="dialog" id="modalTerms">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agree with the privacy terms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
			You can download this map as an image (png), or as a json file to continue working on it later.
		</p>
		<p>
			No identifiable data will be shared or published. <a href="#">Read more</a> about how we protect your data.
		</p>
		<p>
			<input type="checkbox" id="checkTermsOK">
			<label for="checkTermsOK">
				I give permission for the data to be used for research purposes.
			</label>
		</p>
      </div>
      <div class="modal-footer">
        <a href="#" type="button" class="btn btn-primary disabled" id="exportJSONModalX" download="network.json">Download data</a>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modalSave">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agree with the privacy terms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
			You can download this map as an image (png), or as a data (json) file to continue working on it later.
		</p>
		<p>
			Please agree with the <a href="#">data usage terms</a> and give permission for the data to be used for research purposes.
		</p>
		<p>
			No identifiable data will be shared or published. <a href="#">Read more</a> about how we protect your data.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">I don't agree</button>
        <button type="button" class="btn btn-primary" id="btnTermsOK">I agree</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="confirmStartOver">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to start over?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
			This will erase all your data.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="{% if workshop %}{% url 'mapper_index_workshop' workshop_slug=workshop.slug %}{% else %}{% url 'mapper_index' %}{% endif %}"
		   class="btn btn-primary" id="btnConfirmStartOver">Yes, start over!</a>
      </div>
    </div>
  </div>
</div>


{% block js %}
{% endblock %}


<script>

$(document).ready(function() {

    $('.close[data-dismiss=sidebar]').click(function() {
        $('#infoSidebar').addClass('d-none');
        $('.menuButton').removeClass('active');
    });

	var stakeholders = {{ stakeholders|safe }};

	var stakeholders_filtered = {
		interact: {1: [], 2: [], 3: []},
		collaborate: {1: [], 2: [], 3: []},
		similarity_count: {0: [], 1: [], 2: [], 3: [], 4: []},
		values: [],
		working: [],
		resources: [],
		custom: []
	}

	$.each(stakeholders, function(name, data) {
		if ('interact' in data)
			stakeholders_filtered['interact'][data['interact']].push(name);
		if ('collaborate' in data)
			stakeholders_filtered['collaborate'][data['collaborate']].push(name);
		if ('similarities' in data) {
			similartity_count = data['similarities'].length;
			if (data['similarities'].indexOf('values') !== -1)
				stakeholders_filtered['values'].push(name);
			if (data['similarities'].indexOf('working') !== -1)
				stakeholders_filtered['working'].push(name);
			if (data['similarities'].indexOf('resources') !== -1)
				stakeholders_filtered['resources'].push(name);
			if (data['similarities'].indexOf('custom') !== -1) {
				stakeholders_filtered['custom'].push(name);
				// we are not counting custom parameter similarity!!
				similartity_count -= 1;
			}
			stakeholders_filtered['similarity_count'][similartity_count].push(name);
		} else {
			stakeholders_filtered['similarity_count'][0].push(name);
		}
	});

	console.log(stakeholders_filtered);

	// initial filter state
	var filter_state = {
		interact: [1, 2, 3],
		collaborate: [1, 2, 3],
		similarity_count: [0, 1, 2, 3],
		values: 0,
		working: 0,
		resources: 0,
		custom: 0
	}

	function apply_filters() {

		var filtered = Object.keys(stakeholders);  // every stakeholder; not filtered yet

		$.each(['interact', 'collaborate', 'similarity_count'], function(i, filter_name) {
			var passed = [];
			$.each(filter_state[filter_name], function(i, state) {
				passed = passed.concat(stakeholders_filtered[filter_name][state]);
			});
			filtered = filtered.filter(s => passed.includes(s));
		});

		$.each(['values', 'working', 'resources', 'custom'], function(i, filter_name) {
			if (filter_state[filter_name] != 0) {
				var f = stakeholders_filtered[filter_name];
				if (filter_state[filter_name] == 1) {
					filtered = filtered.filter(s => f.includes(s));
				} else {
					filtered = filtered.filter(s => !f.includes(s));
				}
			}
		});

		s.graph.nodes().forEach(function(n) {
			if (n.id != 0) {
				if (filtered.indexOf(n.fullLabel.trim()) !== -1) {
					n.hidden = false;
				} else {
					n.hidden = true;
				}
			}
		});

	    s.refresh();
	}

	$('#filterForm button').click(function(e) {

		var $this = $(this);
		var target = $this.data('target');

		if (['interact', 'collaborate', 'similarity_count'].indexOf(target) !== -1) {

			$this.toggleClass('active');
			var $actives = $('button.active[data-target=' + target + ']');
			filter_values = [];
			$actives.each(function() {
				filter_values.push($(this).val());
			});
			filter_state[target] = filter_values;

		} else {  // similarity types

			$('button[data-target=' + target + ']').removeClass('active');
			$this.addClass('active');
			filter_state[target] = $this.val();

		}

		apply_filters();

	});


    $('#filterSidebarCollapse').on('click', function () {
        $('#filterSidebar').toggleClass('collapse');
    });


    $('#legendSidebarCollapse').on('click', function () {
        $('#info-sidebar').toggleClass('d-none');
    });


	var termsOK = {{ terms_ok|lower }};

	function mapSave() {
		$.post('{% url "mapper_save" %}', function(data) {
			console.log(data);
		});
	};

	$('#btnSave').click(function() {
		if (termsOK) {
			mapSave();
		} else {
			$('#modalSave').modal('show');
		}
	});

	function approveTerms() {
		$.post('{% url "mapper_approve_terms" %}', function(data) {
			termsOK = true;
			mapSave();
			$('#modalSave').modal('hide');
		});
	};

	$('#btnTermsOK').click(function() {
		approveTerms();
	});

	$('#saveDropdown').on('click', function (e) {
		if (!termsOK) {
			e.preventDefault();
			$('#saveDropdown').dropdown('toggle');
			$('#modalSave').modal('show');
		} else {
			mapSave();
		}
	})

	$('#checkTermsOK').change(function() {
		if (this.checked) {
			approveTerms();
			$('#exportJSONModal').removeClass('disabled');
		} else {
			$('#exportJSONModal').addClass('disabled');
		}
	});


	var $exportPNG = $('#exportPNG');

	if ((typeof s) == 'undefined') {
		$exportPNG.addClass('disabled');
	};


    $exportPNG.click(function() {
		var src_base64 = s.renderers[0].snapshot({format: 'png', labels: true});
		$exportPNG.attr('href', src_base64);
    });


	function downloadJSON($el) {
		var data = btoa(
			JSON.stringify({
				organization: {{ organization|safe|lower }},
				stakeholders: stakeholders,
				{% if custom_similarity_parameter %}
				custom_similarity_parameter: '{{ custom_similarity_parameter }}',
				{% endif %}
				last_page_no: {% if page_no %}{{ page_no }}{% else %}1{% endif %}
			})
		);
        $el.attr('href', 'data:text/json;base64,' + data);
	};

    $('#exportJSON').click(function() {
    	downloadJSON($(this));
    });

    $('#exportJSONModal').click(function() {
    	downloadJSON($(this));
    	$('#btnModal').hide();
    });


	{% if stakeholder_form %}

	// update nodes

	s.bind('clickNode', function(e) {

		// show sidebar update form
		$('.sidebarContent').addClass('d-none');
		$('#infoSidebar').removeClass('d-none');
		$('#infoUpdate').removeClass('d-none');
		$('.menuButton').removeClass('active');

		var $form = $('#nodeUpdateForm');

		var node = e.data.node;

		if (node.id == 0) return;

		$('#filterSidebar').collapse('hide');

        $('#editSidebar').collapse('show');

		var name = node.fullLabel;
		var stakeholder = stakeholders[name];

		console.log(stakeholder);

		$form.find('input[type=checkbox]').prop('checked', false);

		$form.find('[name=name]').val(name);
		$form.find('[name=original_name]').val(name);

		if ('similarities' in stakeholder) {
			$form.find('[name=values]').prop('checked', stakeholder.similarities.indexOf('values') >= 0);
			$form.find('[name=working]').prop('checked', stakeholder.similarities.indexOf('working') >= 0);
			$form.find('[name=resources]').prop('checked', stakeholder.similarities.indexOf('resources') >= 0);
			$form.find('[name=custom]').prop('checked', stakeholder.similarities.indexOf('custom') >= 0);
		}

		$form.find('[name=interact]').val(stakeholder.interact);
		$form.find('[name=collaborate]').val(stakeholder.collaborate);

		s.refresh();
	});

	$(document).click(function(event) {
		var $target = $(event.target);
		if(!$target.closest('#editSidebar').length && $('#editSidebar').is(":visible")) {
			$('#editSidebar').collapse('hide');
		}
	});

	$('#nodeUpdateForm').submit(function(e) {
		e.preventDefault();

		//data = JSON.stringify($(this).serializeArray());
		data = $(this).serialize();

		console.log(data);

		$.ajax({
			type: 'POST',
			url: '{% url "mapper_node_update" %}',
			data: data,
			dataType: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	});

	$('#buttonNodeDelete').click(function(e) {
		console.log($('#nodeUpdateForm #id_name').val());
		$.ajax({
			type: 'POST',
			url: '{% url "mapper_node_delete" %}',
			data: {name: $('#nodeUpdateForm #id_name').val()},
			dataType: 'json',
			success: function(data) {
				window.location.reload();
			}
		});
	});


	{% endif %}

});

</script>

</body>
</html>
