
<h4>Filter stakeholders</h4>

<form id="filterForm">

    <h6>Interact with</h6>
    <div class="row mb-3">
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="interact" value="3">
                Regularly
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="interact" value="2">
                Sometimes
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="interact" value="1">
                Hardly ever
            </button>
        </div>
    </div>

    <h6>Collaborated with</h6>
    <div class="row mb-3">
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="collaborate" value="3">
                Many times
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="collaborate" value="2">
                Once or twice
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="collaborate" value="1">
                Never
            </button>
        </div>
    </div>

    <h6>Number of similarities</h6>
    <div class="row mb-3">
        <div class="col-3">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="similarity_count" value="0">
                0
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="similarity_count" value="1">
                1
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="similarity_count" value="2">
                2
            </button>
        </div>
        <div class="col-3">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="similarity_count" value="3">
                3
            </button>
        </div>
    </div>

    <h6>Values are</h6>
    <div class="row mb-3">
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="values" value="1">
                Similar
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="values" value="0">
                Either
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="values" value="-1">
                Different
            </button>
        </div>
    </div>

    <h6>Ways of working are</h6>
    <div class="row mb-3">
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="working" value="1">
                Similar
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="working" value="0">
                Either
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="working" value="-1">
                Different
            </button>
        </div>
    </div>

    <h6>Resources are</h6>
    <div class="row mb-3">
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="resources" value="1">
                Similar
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="resources" value="0">
                Either
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="resources" value="-1">
                Different
            </button>
        </div>
    </div>

    <h6>Your own parameter is</h6>
    <div class="row mb-3">
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="custom" value="1">
                True
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100 active" type="button" data-target="custom" value="0">
                Either
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-success btn-sm w-100" type="button" data-target="custom" value="-1">
                False
            </button>
        </div>
    </div>


</form>
