{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

	<style>
	html, body {
		height: 100%;
	}

	#grid td {
		min-height: 170px;
        min-width: 35px;
	}

	.table .vertical {
		vertical-align: middle;
		text-align: right;
	}

	.table .vertical span {
		padding: 10px 3px 10px 3px;
        margin-right: 10px;
		white-space: nowrap;
		writing-mode: tb-rl;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	</style>

{% endblock %}


{% block content %}

<div class="container-fluid">

	<div class="row">

		<div class="col-md-3" id="nodeListCol">

			<div id="nodeList">
			</div>

		</div>

		<div class="col">

			<table class="table table-sm table-borderless" id="grid">
				<tr>
					<td></td>
					<td></td>
					<td align="center" colspan="3">
						<strong class="">We've collaborated creatively</strong>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td align="center">
						<strong class="badge badge-primary">MANY TIMES</strong>
					</td>
					<td align="center">
						<span class="badge badge-primary">ONCE OR TWICE</span>
					</td>
					<td align="center">
						<span class="badge badge-primary">NEVER</span>
					</td>
				</tr>
				<tr class="border-0">
					<td class="vertical" rowspan="3">
						<span><strong>We interact</strong></span>
					</td>
					<td class="vertical">
						<span class="badge badge-primary">REGULARLY</span>
					</td>
					<td data-interact="3" data-collaborate="3" class="border border-warning border-top-0 border-left-0" width="33%">
						<div class="pb-4"></div>
					</td>
					<td data-interact="3" data-collaborate="2" class="border border-warning border-top-0" width="33%">
						<div class="pb-4"></div>
					</td>
					<td data-interact="3" data-collaborate="1" class="border border-warning border-top-0 border-right-0" width="33%">
						<div class="pb-4"></div>
					</td>
				</tr>
				<tr>
					<td class="vertical">
						<span class="badge badge-primary">SOMETIMES</span>
					</td>
					<td data-interact="2" data-collaborate="3" class="border border-warning border-left-0">
						<div class="pb-4"></div>
					</td>
					<td data-interact="2" data-collaborate="2" class="border border-warning">
						<div class="pb-4"></div>
					</td>
					<td data-interact="2" data-collaborate="1" class="border border-warning border-right-0">
						<div class="pb-4"></div>
					</td>
				</tr>
				<tr>
					<td class="vertical">
						<span class="badge badge-primary">HARDLY EVER</span>
					</td>
					<td data-interact="1" data-collaborate="3" class="border border-warning border-left-0 border-bottom-0">
						<div class="pb-4"></div>
					</td>
					<td data-interact="1" data-collaborate="2" class="border border-warning border-bottom-0">
						<div class="pb-4"></div>
					</td>
					<td data-interact="1" data-collaborate="1" class="border border-warning border-bottom-0 border-right-0">
						<div class="pb-4"></div>
					</td>
				</tr>
			</table>

		</div>

	</div>

</div>

{% endblock %}


{% block js %}

<script>

	var stakeholders = {{ stakeholders|safe }};

	$nodeList = $('#nodeList');

	$.each(stakeholders, function(name, data) {
		var btn ='<button class="btn btn-sm btn-danger stakeholder-node mr-2 mb-1" data-id="' + name + '">' + name + '</button>';
		if ('interact' in data) {
			$('td[data-interact=' + data.interact + '][data-collaborate=' + data.collaborate + ']').find('div').append(btn);
		} else {
			$nodeList.append(btn);
		}
	});

	if ($('#nodeList button').length == 0) {
		$('#nodeListCol').addClass('d-none');
	}

	$('.stakeholder-node').click(function(e) {
		$('.stakeholder-node').removeClass('active');
		$(this).addClass('active');
		$('#grid td').addClass('border-danger');
		e.stopPropagation();
	});

	$('#grid td').click(function() {
		$node = $('.stakeholder-node.active');
		$(this).find('div').append($node);
		$node.removeClass('active');
		$('#grid td').removeClass('border-danger');
		if ($('#nodeList button').length > 0) {
			// if there are still items in the list, select the one at the top
			$('#nodeList button').first().addClass('active');
			$('#grid td').addClass('border-danger');
		}
		if ($('#nodeList button').length == 0) {
			$('#nodeListCol').addClass('d-none');
		}
	});

	$('#btnNext').click(function(e) {
		e.preventDefault();

		if ($('#nodeList button').length > 0) {

			$('#nodeList button').addClass('bg-warning');
			setTimeout(function() {
				$('#nodeList button').removeClass('bg-warning');
			}, 500);

		} else {

			var gridData = {};

			$.each($('#grid td'), function(i, item) {
				$td = $(item);
				var interact = $td.data('interact');
				var collaborate = $td.data('collaborate');
				$.each($td.find('button'), function(j, node) {
					nodeId = $(node).data('id');
					console.log(nodeId);
					gridData[nodeId] = {};
					gridData[nodeId]['interact'] = interact;
					gridData[nodeId]['collaborate'] = collaborate;
				});
			});

			var data = JSON.stringify(gridData)

			console.log(gridData);

			$.ajax({
				type: 'POST',
				url: '{% url "mapper_grid_save" %}',
				data: data,
				contentType: "application/json",
				dataType: 'json',
				success: function(data) {
					window.location = $('#btnNext').attr('href');
				}
			});
		}
	});

	$nodeList.find(':first-child').click();



</script>

{% endblock %}
