{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

	<style>
	html, body {
		height: 100%;
	}

	#grid li {
		width: 100%;
	}

	.table .vertical {
		vertical-align: middle;
		text-align: right;
	}

	.table .vertical span {
		white-space: nowrap;
		writing-mode: tb-rl;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}

	#grid td {
		width: 200px;
		height: 200px;
	}
	</style>



{% endblock %}


{% block content %}

<div class="container">

	<div class="row">

		{% if title %}
			<h2>{{ title|safe }}</h2>
		{% endif %}

		{% if description %}
			<p class="lead">{{ description|safe }}</p>
		{% endif %}

		<div class="col-3">

			<ul id="nodeList" class="list-group list-group-flush">
			</ul>

		</div>

		<div class="col-9">

			<table class="table table-borderless" id="grid">
				<tr class="border-0">
					<td class="vertical">
						<span>regularly</span>
					</td>
					<td data-interact="3" data-collaborate="1" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="3" data-collaborate="2" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="3" data-collaborate="3" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
				</tr>
				<tr>
					<td class="vertical">
						<span>
							<strong>Interaction</strong>
							<br><br>
							sometimes
						</span>
					</td>
					<td data-interact="2" data-collaborate="1" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="2" data-collaborate="2" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="2" data-collaborate="3" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
				</tr>
				<tr>
					<td class="vertical">
						<span>hardly ever</span>
					</td>
					<td data-interact="1" data-collaborate="1" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="1" data-collaborate="2" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="1" data-collaborate="3" class="border">
						<ul class="list-group list-group-flush"></ul>
					</td>
				</tr>
				<tr>
					<td></td>
					<td align="center">never</td>
					<td align="center">
						<span>
							once or twice
							<br><br>
							<strong>Collaboration</strong>
						</span>
					</td>
					<td align="center">
						<span>
							many times
						</span>
					</td>
				</tr>
			</table>

		</div>

	</div>

</div>

{% endblock %}


{% block js %}

<script>

	var stakeholders = {{ stakeholders|safe }};

	$nodeList = $('#nodeList');

	$.each(stakeholders, function(name, data) {
		console.log(name, data);
		var li ='<li class="list-group-item stakeholder-node" data-id="' + name + '">' + name + '</li>';
		if ('interact' in data) {
			$('td[data-interact=' + data.interact + '][data-collaborate=' + data.collaborate + ']').find('ul').append(li);
		} else {
			$nodeList.append(li);
		}
	});

	$('.stakeholder-node').click(function(e) {
		$('.stakeholder-node').removeClass('active');
		$(this).addClass('active');
		$('#grid td').addClass('border-warning');
		e.stopPropagation();
	});

	$('#grid td').click(function() {
		$node = $('.stakeholder-node.active');
		$(this).find('ul').append($node);
		$node.removeClass('active');
		$('#grid td').removeClass('border-warning');
	});

	var borderColor = $('#nodeList li').css('borderColor')

	$('#btnNext').click(function(e) {
		e.preventDefault();

		if ($('#nodeList li').length > 0) {

			$('#nodeList li').addClass('bg-warning');
			setTimeout(function() {
				$('#nodeList li').removeClass('bg-warning');
			}, 500);

		} else {

			var gridData = {};

			$.each($('#grid td'), function(i, item) {
				$td = $(item);
				var interact = $td.data('interact');
				var collaborate = $td.data('collaborate');
				$.each($td.find('li'), function(j, node) {
					nodeId = $(node).data('id');
					console.log(nodeId);
					gridData[nodeId] = {};
					gridData[nodeId]['interact'] = interact;
					gridData[nodeId]['collaborate'] = collaborate;
				});
			});

			var data = JSON.stringify(gridData)

			$.ajax({
				type: 'POST',
				url: '{% url "mapper_grid_save" %}',
				data: data,
				contentType: "application/json",
				dataType: 'json',
				success: function(data) {
					window.location = $('#btnNext').attr('href');
				}
			});
		}
	});

	$nodeList.find(':first-child').click();



</script>

{% endblock %}