{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

	<style>
	html, body {
		height: 100%;
	}
	#grid td {
		width: 200px;
		height: 200px;
	}
	#grid li {
		width: 100%;
	}
	</style>

{% endblock %}


{% block content %}

<div class="container">

	<div class="row">

		{% if title %}
			<h2>{{ title|safe }}</h2>
		{% endif %}

		{% if description %}
			<p class="lead">{{ description|safe }}</p>
		{% endif %}

		<div class="col-3">

			<ul id="nodeList" class="list-group list-group-flush">
			</ul>

		</div>

		<div class="col-9">

			<table class="table table-bordered" id="grid">
				<tr>
					<td data-interact="3" data-collaborate="1">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="3" data-collaborate="2">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="3" data-collaborate="3">
						<ul class="list-group list-group-flush"></ul>
					</td>
				</tr>
				<tr>
					<td data-interact="2" data-collaborate="1">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="2" data-collaborate="2">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="2" data-collaborate="3">
						<ul class="list-group list-group-flush"></ul>
					</td>
				</tr>
				<tr>
					<td data-interact="1" data-collaborate="1">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="1" data-collaborate="2">
						<ul class="list-group list-group-flush"></ul>
					</td>
					<td data-interact="1" data-collaborate="3">
						<ul class="list-group list-group-flush"></ul>
					</td>
				</tr>
			</table>

		</div>

	</div>

</div>

{% endblock %}


{% block js %}

<script>

	var stakeholders = [{% for name in stakeholders.keys %}'{{ name }}'{% if not forloop.last %}, {% endif %}{% endfor %}];

	$nodeList = $('#nodeList');

	$.each(stakeholders, function(index, stakeholder) {
		$nodeList.append('<li class="list-group-item" data-id="' + stakeholder + '">' + stakeholder + '</li>');
	});

	var gridColor = $('#grid td').css('borderColor');

	$('#nodeList li').click(function() {
		$('#nodeList li').removeClass('active');
		$(this).addClass('active');
		$('#grid td').css('borderColor', '#c99');
	});

	$('#grid td').click(function() {
		$node = $('#nodeList li.active');
		$(this).find('ul').append($node);
		$node.removeClass('active');
		$('#grid td').css('borderColor', gridColor);
	});


	$('#btnNext').click(function(e) {
		e.preventDefault();

		if ($('#nodeList li').length > 0) {

			$('#nodeList li').css('borderColor', '#c99');
			setTimeout(function() {
				$('#nodeList li').css('borderColor', '#fff');
			}, 500);

		} else {

			var gridData = {};

			$.each($('#grid td'), function(i, item) {
				$td = $(item);
				var interact = $td.data('interact');
				var collaborate = $td.data('collaborate');
				$.each($td.find('li'), function(j, node) {
					nodeId = $(node).data('id');
					console.log(nodeId);
					gridData[nodeId] = {};
					gridData[nodeId]['interact'] = interact;
					gridData[nodeId]['collaborate'] = collaborate;
				});
			});

			var data = JSON.stringify(gridData)

			$.ajax({
				type: 'POST',
				url: '{% url "mapper_grid_save" %}',
				data: data,
				contentType: "application/json",
				dataType: 'json',
				success: function(data) {
					window.location = $('#btnNext').attr('href');
				}
			});

		}

	});


	var $exportPNG = $('#exportPNG');
    $exportPNG.click(function() {
        var src_base64 = s.renderers[0].snapshot({format: 'png', background: 'white', labels: true});
        $exportPNG.attr('href', src_base64);
    });

	var $exportJSON = $('#exportJSON');
    $exportJSON.click(function() {
		var data = btoa(
			JSON.stringify({
				name: s.graph.nodes()[0].label,
				graph: {
					nodes: s.graph.nodes(),
					edges: s.graph.edges()
				}
			})
		);
        $exportJSON.attr('href', 'data:text/json;base64,' + data);
    });

</script>

{% endblock %}