{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}

{% block top %}
{% endblock %}

{% block bottom %}
{% endblock %}


{% block content %}

<div class="container text-center">

	<h1 class="my-4 display-2">
		<small class="d-block">Welcome to the</small>
		STAKEHOLDER MAPPING
		tool!
	</h1>

	<div class="row">

		<div class="card-deck">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title display-4">I am continuing a previously created stakeholder map.</h5>
				</div>
				<div class="card-footer">
					<a href="{% url 'mapper_upload' %}" class="card-link stretched-link">
						<img src="{% static 'arrow_right_small.png' %}" width="60">
					</a>
				</div>
			</div>


			<div class="card">
				<div class="card-body">
					<h5 class="card-title display-4">I am creating a new stakeholder map.</h5>
				</div>
				<div class="card-footer">
					<a href="{% if workshop %}{% url 'mapper_page_workshop' workshop_slug=workshop.slug page_no=1 %}{% else %}{% url 'mapper_page' page_no=1 %}{% endif %}" class="card-link stretched-link">
						<img src="{% static 'arrow_right_small.png' %}" width="60">
					</a>
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}


{% block right-content %}

	{% if title %}
		<h4>{{ title }}</h4>
	{% endif %}

	{% if description %}
		<p class="lead">{{ description|linebreaks }}</p>
	{% endif %}

	<button class="btn btn-primary my-3">
		Accept cookies, and agree to saving anonymised data for research purposes
	</button>

	<button class="btn btn-outline-primary my-3">
		Accept cookies, and disagree to saving anonymised data for research purposes
	</button>

{% endblock %}
