{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block content %}

<div class="container text-center" width=100%>

	<h1 class="my-4 display-4" width=100%>
		{% blocktrans %}
		<small class="d-block">Welcome to the</small>
		STAKEHOLDER MAPPING tool!
		{% endblocktrans %}
	</h1>

	<div class="row" width=100%>

		<div class="card-deck">

			{% if organization %}
			<div class="card col-sm-12 mb-5">
				<div class="card-body">
					<h4 class="card-title">{% blocktrans with organization.name as organizaton_name %}I am continuing with "{{ organization_name }}".{% endblocktrans %}</h4>
				</div>
				<div class="card-footer">
					<a href="{% url 'mapper_page' page_no=last_page_no %}" class="btn card-link stretched-link">
						<img src="{% static 'arrow_right_small.png' %}" width="60">
					</a>
				</div>
			</div>
			{% endif %}

			<div class="card col-sm-12 mb-5">
				<div class="card-body">
					<h4 class="card-title">{% trans "I am continuing a previously created stakeholder map." %}</h4>
				</div>
				<div class="card-footer">
					<a href="{% url 'mapper_upload' %}" class="btn card-link stretched-link">
						<img src="{% static 'arrow_right_small.png' %}" width="60">
					</a>
				</div>
			</div>

			<div class="card col-sm-12 mb-5">
				<div class="card-body">
					<h4 class="card-title">{% trans "I am creating a new stakeholder map." %}</h4>
				</div>
				<div class="card-footer">
					<a href="{% url 'mapper_terms' %}" class="btn card-link stretched-link">
						<img src="{% static 'arrow_right_small.png' %}" width="60">
					</a>
				</div>
			</div>

		</div>

	</div>

</div>

{% endblock %}


{% block floating-menu %}
{% endblock %}

{% block right %}
{% endblock %}

{% block top %}
{% endblock %}

{% block bottom %}
{% endblock %}
