<h4>
    VIEWS

    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
        <strong aria-hidden="true">&times;</strong>
    </button>
</h4>

<p>
    You can toggle visibility of elements, or view another diagram.
</p>


<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchBackground" checked>
    <label class="custom-control-label" for="switchBackground">Background</label>
</div>

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchLines" checked>
    <label class="custom-control-label" for="switchLines">Lines</label>
</div>

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchNodes" checked>
    <label class="custom-control-label" for="switchNodes">Nodes</label>
</div>

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchNames" checked>
    <label class="custom-control-label" for="switchNames">Names</label>
</div>
