{% load crispy_forms_tags i18n %}

{% if stakeholder_form %}

    <h4>
        {% trans "Update stakeholder information" %}

        <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
            <strong aria-hidden="true">&times;</strong>
        </button>
    </h4>

    <form id="nodeUpdateForm" class="nodeForm">

        {% csrf_token %}
        {{ stakeholder_form|crispy }}
        <button type="submit" class="btn btn-primary w-100">
            {% trans "Update map" %}
        </button>
        <button type="button" id="buttonNodeDelete" class="btn btn-outline-primary w-100 mt-3">
            {% trans "Delete node" %}
        </button>

    </form>

{% endif %}
