<h4>
    Download

    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
        <strong aria-hidden="true">&times;</strong>
    </button>
</h4>


By downloading, you agree to the data being used for research purposes.
No identifiable data will ever be shared or published. Read more about how we protect your data.

<button type="button" class="btn btn-lg btn-outline-primary w-100 my-4" id="btnTermsOK">I agree</button>

<h5>
    CONTINUE LATER
</h5>

<p>
    If you wish to continue working on this mapping later, you can download this map as a json file. Next time, just upload the file and continue where you left off.
</p>

<h5>
    SAVE A COPY
</h5>

<p>
    If you are finished and just want to save a copy, you can download a pdf file of this current view.
</p>





<div class="row">
    <div class="col">
        <a id="exportJSONModal" download="network.json" type="button" class="btn btn-primary">
            SAVE A COPY (PDF)
        </a>
    </div>
    <div class="col">
        <a id="exportJSONModal" download="network.json" type="button" class="btn btn-primary">
            CONTINUE LATER (JSON)
        </a>
    </div>
</div>

