{% load crispy_forms_tags i18n %}

{% if stakeholder_form %}

    <h4>
        {% trans "ADD STAKEHOLDER" %}

        <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
            <strong aria-hidden="true">&times;</strong>
        </button>
    </h4>

    <form id="nodeAddForm" class="nodeForm" method="post">

        {% csrf_token %}
        {{ stakeholder_form|crispy }}
        <button type="submit" class="btn btn-primary w-100">
            {% trans "Update map" %}
        </button>

    </form>


{% endif %}
