{% load static i18n %}

<h4>
    {% trans "VIEWS" %}

    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
        <strong aria-hidden="true">&times;</strong>
    </button>
</h4>

<p>
    {% trans "You can toggle visibility of elements, or view another diagram." %}
</p>


<div id="switchesCircle">

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchBackground" checked>
        <label class="custom-control-label" for="switchBackground">{% trans "Background" %}</label>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchLines" checked>
        <label class="custom-control-label" for="switchLines">{% trans "Lines" %}</label>
    </div>

    {% comment %}
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchNodes" checked>
        <label class="custom-control-label" for="switchNodes">{% trans "Nodes" %}</label>
    </div>
    {% endcomment %}

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchNames" checked>
        <label class="custom-control-label" for="switchNames">{% trans "Names" %}</label>
    </div>

</div>

<div id="switchesVenn">

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchVennBackground" checked>
        <label class="custom-control-label" for="switchVennBackground">{% trans "Background" %}</label>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchVennNodes" checked>
        <label class="custom-control-label" for="switchVennNodes">{% trans "Nodes" %}</label>
    </div>

    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switchVennNames" checked>
        <label class="custom-control-label" for="switchVennNames">{% trans "Names" %}</label>
    </div>

</div>


<h5 class="mt-4">
    {% trans "SPHERE DIAGRAM" %}
</h5>

<p>
    {% blocktrans %}The sphere diagram visualises relationships with your stakeholders. From this overview, expand your mapping and use filters to identify potential collaborators.{% endblocktrans %}
</p>


<h5>
    {% trans "VENN DIAGRAM" %}
</h5>

<p>
    {% blocktrans %}The Venn diagram groups stakeholders based on similarities. Identify gaps to better understand your map and keep expanding your network.{% endblocktrans %}
</p>


<a href="{% url 'mapper_venn' %}" class="btn btn-warning w-100" id="linkVenn">
    {% trans "SWITCH TO VENN DIAGRAM" %}
</a>

<a href="{% url 'mapper_ring' %}" class="btn btn-warning w-100" id="linkCircles">
    {% trans "SWITCH TO SPHERE DIAGRAM" %}
</a>


<script>

$(document).ready(function() {

    {% if graph %}

        // swithes for circles

        $('#switchBackground').click(function() {
            if ($("#canvas").css('background-image') == 'none') {
                $("#canvas").css('background-image', 'url({% static 'ring_bg.svg' %})');
                s.graph.edges().forEach(function(edge) {
                    edge.color = '#fff';
                });
            } else {
                $("#canvas").css('background-image', 'none');
                s.graph.edges().forEach(function(edge) {
                    edge.color = '#1b2648';
                });
            }
            s.refresh();
        });

        var edgesHidden = false;
        $('#switchLines').click(function() {
            if (edgesHidden) {
                s.graph.edges().forEach(function(edge) {
                    edge.hidden = false;
                });
                edgesHidden = false;
            } else {
                s.graph.edges().forEach(function(edge) {
                    edge.hidden = true;
                });
                edgesHidden = true
            }
            s.refresh();
        });

        var nodesHidden = false;
        $('#switchNodes').click(function() {
            if (nodesHidden) {
                s.graph.nodes().forEach(function(node) {
                    node.hidden = false;
                });
                nodesHidden = false;
            } else {
                s.graph.nodes().forEach(function(node) {
                    node.hidden = true;
                });
                nodesHidden = true
            }
            s.refresh();
        });

        var labelsHidden = false;
        $('#switchNames').click(function() {
            if (labelsHidden) {
                s.settings('drawLabels', true);
                labelsHidden = false;
            } else {
                s.settings('drawLabels', false);
                labelsHidden = true;
            }
            s.refresh();
        });


    {% else %}

        // Venn Diagram

        $('[data-target=infoAdd]').prop('disabled', true);

        // switches for venn diagram

        var bgHidden = false;
        $('#switchVennBackground').click(function() {
            if (bgHidden) {
                $("#venn tr td[data-bg]").each(function() {
                    $(this).addClass($(this).data('bg'));
                });
                bgHidden = false;
            } else {
                $("#venn tr td[data-bg]").each(function() {
                    $(this).removeClass($(this).data('bg'));
                });
                bgHidden = true;
            }
        });

        var iconsHidden = false;
        $('#switchVennNodes').click(function() {
            if (iconsHidden) {
                $(".nodeIcon").css('visibility','visible');
                iconsHidden = false;
            } else {
                $(".nodeIcon").css('visibility','hidden');
                iconsHidden = true;
            }
        });

        var namesHidden = false;
        $('#switchVennNames').click(function() {
            if (namesHidden) {
                $(".nodeName").css('visibility','visible');
                namesHidden = false;
            } else {
                $(".nodeName").css('visibility','hidden');
                namesHidden = true;
            }
        });

    {% endif %}

});

</script>