{% load static i18n %}

<h4>
    Legend

    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
        <strong aria-hidden="true">&times;</strong>
    </button>
</h4>


<table width="100%">
    <tr>
        <td><h5>{% trans "Interactions" %}</h5></td>
    </tr>
    <tr>
        <td>{% trans "Regularly" %}</td>
        <td>
            <img src="{% static 'circles/circles_regular.png' %}" width="50">
        </td>
    </tr>
    
    <tr>
        <td>{% trans "Sometimes" %}</td>
        <td>
            <img src="{% static 'circles/circles_sometimes.png' %}" width="50">        
        </td>
    </tr>
    <tr>
        <td>{% trans "Hardly ever" %}</td>
        <td>
            <img src="{% static 'circles/circles_hardlyever.png' %}" width="50">        
        </td>
    </tr>
    <tr><td></td></tr>
    <tr>
        <td><h5>{% trans "Collaborated creatively" %}</h5></td>
    </tr>
    <tr>
        <td>{% trans "Many times" %}</td>
        <td>
            <div style="color: #fff; height: 30px; margin: 15px; border-bottom: 3px solid; -webkit-transform: translateY(-15px) translateX(-20px) rotate(-45deg); "></div>
        </td>
    </tr>
    
    <tr>
        <td>{% trans "Once or twice" %}</td>
        <td>
            <div style="color: #fff; height: 30px; margin: 15px; border-bottom: 3px dashed; -webkit-transform: translateY(-15px) translateX(-20px) rotate(-45deg); "></div>
        </td>
    </tr>
    <tr>
        <td>{% trans "Never" %}</td>
        <td>
            <div style="color: #fff; height: 30px; margin: 15px; border-bottom: 3px dotted; -webkit-transform: translateY(-15px) translateX(-20px) rotate(-45deg); "></div>
        </td>
    </tr>
    <tr><td></td></tr>
    <tr><td><h5>{% trans "Similarities" %}</h5></td></tr>
    <tr>
        <td>{% trans "Values or goals" %}</td>
        <td>
            <img src="{% static 'nodes/a.png' %}" width="60">
        </td>
    </tr>
    <tr>
        <td>{% trans "Ways of working" %}</td>
        <td>
            <img src="{% static 'nodes/c.png' %}" width="60">
        </td>
    </tr>
    <tr>
        <td>{% trans "Resources or skills" %}</td>
        <td>
            <img src="{% static 'nodes/d.png' %}" width="60">
        </td>
    </tr>
</table>