{% load static %}

<h4>
    VIEWS

    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
        <strong aria-hidden="true">&times;</strong>
    </button>
</h4>

<p>
    You can toggle visibility of elements, or view another diagram.
</p>


<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchBackground" checked>
    <label class="custom-control-label" for="switchBackground">Background</label>
</div>

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchLines" checked>
    <label class="custom-control-label" for="switchLines">Lines</label>
</div>

{% comment %}
<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchNodes" checked>
    <label class="custom-control-label" for="switchNodes">Nodes</label>
</div>
{% endcomment %}

<div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="switchNames" checked>
    <label class="custom-control-label" for="switchNames">Names</label>
</div>


<script>

    $(document).ready(function() {

        $('#switchBackground').click(function() {
            if ($("#canvas").css('background-image') == 'none') {
                $("#canvas").css('background-image', 'url({% static 'ring_bg.svg' %})');
                s.graph.edges().forEach(function(edge) {
                    edge.color = '#fff';
                });
                edgesHidden = false;
            } else {
                $("#canvas").css('background-image', 'none');
                s.graph.edges().forEach(function(edge) {
                    edge.color = '#1b2648';
                });
            }
            s.refresh();
        });

        var edgesHidden = false;
        $('#switchLines').click(function() {
            if (edgesHidden) {
                s.graph.edges().forEach(function(edge) {
                    edge.hidden = false;
                });
                edgesHidden = false;
            } else {
                s.graph.edges().forEach(function(edge) {
                    edge.hidden = true;
                });
                edgesHidden = true
            }
            s.refresh();
        });

        var nodesHidden = false;
        $('#switchNodes').click(function() {
            if (nodesHidden) {
                s.graph.nodes().forEach(function(node) {
                    node.hidden = false;
                });
                nodesHidden = false;
            } else {
                s.graph.nodes().forEach(function(node) {
                    node.hidden = true;
                });
                nodesHidden = true
            }
            s.refresh();
        });

        var labelsHidden = false;
        $('#switchNames').click(function() {
            if (labelsHidden) {
                s.settings('drawLabels', true);
                labelsHidden = false;
            } else {
                s.settings('drawLabels', false);
                labelsHidden = true;
            }
            s.refresh();
        });


    });

</script>