{% load static %}

<h4>
    Legend

    <button type="button" class="close" data-dismiss="sidebar" aria-label="Close">
        <strong aria-hidden="true">&times;</strong>
    </button>
</h4>


<table width="100%">
    <tr>
        <td>Similar values</td>
        <td>
            <img src="{% static 'nodes/a.png' %}" width="40">
        </td>
    </tr>
    <tr>
        <td>Similar ways of working</td>
        <td>
            <img src="{% static 'nodes/c.png' %}" width="40">
        </td>
    </tr>
    <tr>
        <td>Similar resources</td>
        <td>
            <img src="{% static 'nodes/d.png' %}" width="40">
        </td>
    </tr>
    <tr>
        <td>Never collaborated</td>
        <td>
            <div style="color: #fff; height: 40px; border-bottom: 3px dotted; -webkit-transform: translateY(-15px) translateX(-15px) rotate(-45deg); "></div>
        </td>
    </tr>
    <tr>
        <td>Once or twice collaborated</td>
        <td>
            <div style="color: #fff; height: 40px; border-bottom: 3px dashed; -webkit-transform: translateY(-15px) translateX(-15px) rotate(-45deg); "></div>
        </td>
    </tr>
    <tr>
        <td>Many times collaborated</td>
        <td>
            <div style="color: #fff; height: 40px; border-bottom: 3px solid; -webkit-transform: translateY(-15px) translateX(-15px) rotate(-45deg); "></div>
        </td>
    </tr>
</table>