{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

    <link href="{% static 'tagsinput.css' %}" rel="stylesheet">

	<style>
		.custom-radio {
			display: inline;
		}
	</style>

{% endblock %}


{% block content %}

	<form method="post" id="organisationForm">
		{% csrf_token %}

		{% for field in form %}
			{{ field|as_crispy_field }}
		{% endfor %}

	</form>

{% endblock %}


{% block js %}

    <script src="{% static 'tagsinput.js' %}"></script>

	<script>

		$('#btnNext').click(function(e) {
			e.preventDefault();
			$('#organisationForm').submit();
		});

	</script>

{% endblock %}
