{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

    <link href="{% static 'tagsinput.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<div class="container">

	{% if title %}
		<h2>{{ title|safe }}</h2>
	{% endif %}

	{% if description %}
		<p class="lead">{{ description|safe }}</p>
	{% endif %}

	<form method="post" id="organisationForm">
		{% csrf_token %}
		{{ form|crispy }}
	</form>

</div>

{% endblock %}


{% block js %}

    <script src="{% static 'tagsinput.js' %}"></script>

	<script>

		$('#btnNext').click(function(e) {
			e.preventDefault();
			$('#organisationForm').submit();
		});

	</script>

{% endblock %}