{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

<style>

	.custom-radio label:before {
		display: none;
		visibility: hidden;
	}

	.custom-radio {
		display: inline;
	}

	input[type="radio"] + label {
		margin-left: -24px;
	}

	input[type="radio"]:checked + label {
		background-color: #1b2648;
		border-color: #1b2648;
		color: #fff;
	}

</style>

{% endblock %}


{% block content %}

	<form method="post" id="organisationForm">
		{% csrf_token %}

		{% for field in form %}
			{{ field|as_crispy_field }}
		{% endfor %}
	</form>

{% endblock %}


{% block js %}

<script>

	$('.custom-radio label').addClass('btn btn-outline-primary');

	$('#btnNext').click(function(e) {
		e.preventDefault();
		$('#organisationForm').submit();
	});

</script>

{% endblock %}
