{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js" integrity="sha512-4+XX9O3GEcpTWGNW7m3w/ORF91L4zUX01/U3wAoWIXp1P+LRBEqutZdQIFUeHSa0cJRZ9LPM+GOWus8h8TlYhg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.plugins.animate.min.js" integrity="sha512-WxjvX/yh2SfCPUnVmZkn4MYkF/jw8GKtEjFu2+P28bcqdYYsT6feJuaaQyBw7+KWfs87Ol4jb7jB+8qep+cocg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.plugins.dragNodes.min.js" integrity="sha512-w9i2zoWU7Te0i+TJoKMyBjHYAptYykPieNa0iT6/ofVbUHvqIhh6f4YVkXV84kAuGbIS+CqvSV/6AHTVt8bUrA==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.layout.noverlap.min.js" integrity="sha512-U0UOV2CPSrFlOxjSnHr6GMKsRjQIYmarSCgVp9R6FAcby2gLNPgQtGLXylELTBDLbS/R5g1vj5CFS4mLDdDfxQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.parsers.json.min.js" integrity="sha512-uhhcXJvqfQpnVqJRyCs49Ddt16zZ35qFokRiVOZei14sbMdMS9vtubrb1QQvGJ/zQhQbCttBvVJqqiZHrsHo1g==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.layout.forceAtlas2.min.js" integrity="sha512-RuRd3WCUb6GCaiaEJ2UDkaVblIVAHJNLaDG6Df2OWpzg4kQurQqh/GC/a3eFSopnRiNrwePMFvI13pbYZ1WnAw==" crossorigin="anonymous"></script>
	<!--script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.renderers.edgeLabels.min.js" integrity="sha512-NdmXr+AEuaizDckUjMI05kDsdoXbj6Z0fDxqAqPfhecHITSzGWPA/zeE/ousxA4pVIALj0V6/JgfTGYT9aS7Jw==" crossorigin="anonymous"></script-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.renderers.snapshot.min.js" integrity="sha512-hRIEjoSHrn4AeSezC5FE4/5QjnuiV3CtsjBdrG8sE7Rvs+PZ6PpTggvcBcw8VSH5KyoBhTAbPeMsa9tokxQ0yw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.renderers.customShapes.min.js" integrity="sha512-mTo2l94Z6Gvx7WZPYhiQI/TpFaRwJL3cEWo8Uqmx0J1336W2b7oB6t11B1YDgqMuOwCcYdRrHrEdGSts3zCz7g==" crossorigin="anonymous"></script>

{% endblock %}


{% block content %}

	<table class="table table-borderless">
		<tr>
			<td colspan="4" align="center">
				<span class="badge badge-primary">LESS CLOSE</span>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="vertical-align: middle;">
				<span class="badge badge-primary mr-n5">MORE SIMILAR</span>
			</td>
			<td class="border-right" width="50%">
				<h4>
					Far friends
				</h4>
				<p>
					These are stakeholders that you interact less with,
					yet you have relatively more in common with, providing a good base for a collaboration.
				</p>

				{% for stakeholder in quadrants.q1|slice:":2" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}

				<div class="moreSuggestions collapse">
				{% for stakeholder in quadrants.q1|slice:"2:" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}
				</div>
			</td>
			<td class="border-bottom" width="50%">
				<h4>
					Wild cards
				</h4>
				<p>
					These are stakeholders that you interact less with, and that might complement your values,
					ways of working or resources, sparking more creativity.
				</p>

				{% for stakeholder in quadrants.q2|slice:":2" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}

				<div class="moreSuggestions collapse">
				{% for stakeholder in quadrants.q2|slice:"2:" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}
				</div>
			</td>
			<td rowspan="2" style="vertical-align:middle;">
				<span class="badge badge-primary ml-n5">LESS SIMILAR</span>
			</td>
		</tr>
		<tr>
			<td class="border-top">
				<h4>
					Low-hanging fruit
				</h4>
				<p>
					These are stakeholders that you interact more with and are relatively similar to you,
					allowing for an easy start.
				</p>

				{% for stakeholder in quadrants.q3|slice:":2" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}

				<div class="moreSuggestions collapse">
				{% for stakeholder in quadrants.q3|slice:"2:" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}
				</div>
			</td>
			<td class="border-left">
				<h4>
					Over-looked potential
				</h4>
				<p>
					These are stakeholders that you interact more with and might complement your values,
					ways of working or resources, sparking more creativity.
				</p>

				{% for stakeholder in quadrants.q4|slice:":2" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}

				<div class="moreSuggestions collapse">
				{% for stakeholder in quadrants.q4|slice:"2:" %}
				<div class="">
					<img src="{{ stakeholder.icon }}" width="50">
					{{ stakeholder.name }}
				</div>
				{% endfor %}
				</div>

			</td>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<span class="badge badge-primary">MORE CLOSE</span>
			</td>
		</tr>
	</table>

{% endblock %}


{% block right %}

{# offset sidebar #}
<div class="col-3"></div>

<div class="col-3 bg-warning" id="right-sidebar">

	<div class="mt-3">

		{% if title %}
			<h4>{{ title }}</h4>
		{% endif %}

		{% if description %}
		<div class="">
			{{ description|safe }}
		</div>
		{% endif %}

	</div>

	<div class="btn-group w-100">

		<a href="{% url 'mapper_suggest' %}" class="btn btn-primary mr-1">
			NEW SUGGESTIONS
		</a>

		<a href="{% url 'mapper_ring' %}" class="btn btn-primary ml-1">
			RETURN
		</a>

	</div>

</div>

{% endblock %}


{% block floating-menu %}

<div class="mt-5 ml-4" id="floating-menu">

	<table align="center" width="100%">

		<tr>
			<td>

				<div class="btn-group-vertical btn-group-lg my-4">

					<button data-target="infoLegend" type="button" class="menuButton btn btn-primary">
						<svg width="1em" height="1em" viewBox="8.11 8.11 32.48 32.48" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path class="cls-1" d="M25.48,37.15H18.37v-20h7.11Zm-.57-24.68A2.84,2.84,0,0,1,24,14.58a3,3,0,0,1-4.69-.6A3,3,0,0,1,19,12.47a2.88,2.88,0,0,1,.86-2.1,2.81,2.81,0,0,1,2.11-.89,3,3,0,0,1,3,3Z"/>
						</svg>
					</button>

					<button data-target="infoDownload" type="button" class="menuButton btn btn-primary">
						<svg width="1em" height="1em" viewBox="8.11 8.11 32.48 32.488" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<polygon class="cls-1" points="21.42 28.58 33.94 15.38 26.25 15.38 26.25 6.13 16.59 6.13 16.59 15.38 8.9 15.38 21.42 28.58"/>
							<rect class="cls-1" x="12.29" y="30.8" width="18.25" height="3.55"/>
						</svg>
					</button>

				</div>

			</td>
		</tr>

	</table>

</div>

{% endblock %}


{% block js %}

<script>

$(document).ready(function() {

    $sidebar = $('#infoSidebar');

	$('.menuButton').click(function() {
	    $this = $(this);
		$target = $('#' + $(this).data('target'));
		console.log($target);
	    if ($this.hasClass('active')) {
	        // hide
    		$sidebar.addClass('d-none');
    		$this.removeClass('active');
	    } else {
	        // show
    		$('.sidebarContent').addClass('d-none');
	        $sidebar.removeClass('d-none');
	        $target.removeClass('d-none');
	        $('.menuButton').removeClass('active');
    		$this.addClass('active');
	    }
	});

});

</script>

{% endblock %}


{% block top %}
{% endblock %}

{% block bottom %}
{% endblock %}
