{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

	<style>
		#venn tr td.stakeholder-container {
			height: 70px;
			width: 25%;
		}
	</style>

{% endblock %}


{% block content %}

	{# similarities: values, working, resources, custom #}

	<table id="venn" class="" cellpadding="3">
		<tr>
			<td class="" colspan="4"></td>
			<td class="bg-warning" data-bg="bg-warning" colspan="5"></td>
			<td colspan="3"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger" colspan="7"></td>
			<td></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td class="" colspan="3"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td></td>
			<td></td>
			<td data-similarities="1000" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1100" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0100" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0000" class="stakeholder-container"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="bg-info" data-bg="bg-info" colspan="10"></td>
			<td></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td></td>
			<td data-similarities="1010" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1110" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0110" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0010" class="stakeholder-container"></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td class="bg-dark" data-bg="bg-dark" colspan="10"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
			<td data-similarities="1011" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1111" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0111" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0011" class="stakeholder-container"></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="bg-info" data-bg="bg-info" colspan="10"></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class=""></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
			<td data-similarities="1001" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1101" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0101" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0001" class="stakeholder-container"></td>
			<td class=""></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td></td>
			<td class="bg-dark" data-bg="bg-dark" colspan="10"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="" colspan="3"></td>
			<td class="bg-warning" data-bg="bg-warning" colspan="5"></td>
			<td colspan="3"></td>
		</tr>
		<tr>
			<td class="bg-danger" data-bg="bg-danger" colspan="7"></td>
			<td colspan="5"></td>
		</tr>
	</table>


	<div class="row my-4">
		<div class="col">
			<span class="badge badge-danger w-100">values</span>
		</div>
		<div class="col">
			<span class="badge badge-warning w-100">ways of working</span>
		</div>
		<div class="col">
			<span class="badge badge-info w-100">resources</span>
		</div>
		<div class="col">
			<span class="badge badge-dark w-100">{% if custom_similarity_parameter %}{{ custom_similarity_parameter }}{% else %}your parameter (not specified){% endif %}</span>
		</div>
	</div>

{% endblock %}


{% block js %}

<script>

$(document).ready(function() {

	var stakeholders = {{ venn|safe }};
	$venn = $('#venn');
	$.each(stakeholders, function(name, data) {
		console.log(data);
		$('#venn tr td[data-similarities=' + data.cell + ']').append(
			'<div><span class="nodeIcon"><img src="' + data.icon + '" width="50"></span> <span class="nodeName">' + name + '</span></div>'
		);
	});

	$('#linkVenn').addClass('d-none');
	$('#linkCircles').removeClass('d-none');
	$('#switchesVenn').removeClass('d-none');
	$('#switchesCircle').addClass('d-none');
	//$('.menuButton[data-target=infoView]').click();

});

</script>

{% endblock %}
