{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block content %}

<div class="container">

	<div class="row">

		<div class="col-9">

			{# similarities: values, working, resources, custom #}

			<table id="venn" class="table-bordered">
				<tr>
					<td data-similarities="1000" width="25%"></td>
					<td data-similarities="1100" width="25%"></td>
					<td data-similarities="0100" width="25%"></td>
					<td data-similarities="0000" width="25%"></td>
				</tr>
				<tr>
					<td data-similarities="1010"></td>
					<td data-similarities="1110"></td>
					<td data-similarities="0110"></td>
					<td data-similarities="0010"></td>
				</tr>
				<tr>
					<td data-similarities="1011"></td>
					<td data-similarities="1111"></td>
					<td data-similarities="0111"></td>
					<td data-similarities="0011"></td>
				</tr>
				<tr>
					<td data-similarities="1001"></td>
					<td data-similarities="1101"></td>
					<td data-similarities="0101"></td>
					<td data-similarities="0001"></td>
				</tr>
			</table>

		</div>

		<div class="col-3">
		{% if title %}
			<h2>{{ title }}</h2>
		{% endif %}
		{% if description %}
		<p>
			{{ description|linebreaks }}
		</p>
		{% endif %}
		</div>

	</div>

</div>

{% endblock %}


{% block js %}

<script>

$(document).ready(function() {

	var stakeholders = {{ venn|safe }};
	$venn = $('#venn');
	$.each(stakeholders, function(name, data) {
		console.log(data);
		$('#venn tr td[data-similarities=' + data.cell + ']').append(
			'<div><span><img src="' + data.icon + '" width="50"></span> ' + name + '</div>'
		);
	});

});

</script>

{% endblock %}