{% extends 'mapper/base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

	<style>
        #venn td.label {
        min-width: 35px;
	}

		#venn tr td.stakeholder-container {
			height: 70px;
			width: 25%;
		}
  	.vertical {
		padding: 10px 3px 10px 3px;
		white-space: nowrap;
		writing-mode: tb-rl;
		transform-origin: 50% 50%;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
        }

	</style>

{% endblock %}


{% block content %}

	{# similarities: values, working, resources, custom #}

	<table id="venn" class="" cellpadding="3">
        <tr>
			<td colspan="6"></td>
            <td><span class="text-danger">similar values</span></td>
            <td></td>
            <td class=""><span class="text-warning">similar ways of working</span></td>
        </tr>
		<tr>
            <td></td>
			<td class="" colspan="6"></td>
            <td style="border-top-left-radius: 100%" class="bg-warning" data-bg="bg-warning"></td>
			<td class="bg-warning" data-bg="bg-warning" colspan="3"></td>
            <td style="border-top-right-radius: 100%" class="bg-warning" data-bg="bg-warning"></td>
			<td colspan="3"></td>
		</tr>
        <tr>
            <td></td>
			<td class="" colspan="6"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td colspan="3"></td>       			
            <td class="bg-warning" data-bg="bg-warning"></td>
		</tr>
		<tr>
            <td></td>
            <td style="border-top-left-radius: 100%" class="bg-danger" data-bg="bg-danger"></td>
            <td colspan="7" class="bg-danger" data-bg="bg-danger"></td>
            <td style="border-top-right-radius: 100%" class="bg-danger" data-bg="bg-danger"></td>
            <td></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td class="" colspan="3"></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td colspan="4"></td>
			<td data-similarities="1000" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1100" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0100" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0000" class="stakeholder-container"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
            <td></td>
            <td style="border-top-left-radius: 100%" class="bg-info" data-bg="bg-info"></td>
			<td class="bg-info" data-bg="bg-info" colspan="9"></td>
            <td style="border-top-right-radius: 100%" class="bg-info" data-bg="bg-info"></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
            <td></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td colspan="2"></td>
			<td data-similarities="1010" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1110" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0110" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0010" class="stakeholder-container"></td>
			<td class="bg-info" data-bg="bg-info"></td>
			<td></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
            <td></td>
			<td class="bg-info" data-bg="bg-info"></td>
            <td></td>
            <td style="border-top-left-radius: 100%" class="bg-dark" data-bg="bg-dark"></td>
			<td class="bg-dark" data-bg="bg-dark" colspan="9"></td>
            <td style="border-top-right-radius: 100%" class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
            <td class="label"><div class="vertical">
			<span class="text-info">similar resources</span>
		</div></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
            <td></td>
			<td class="bg-info" data-bg="bg-info"></td>
            <td></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
			<td data-similarities="1011" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1111" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0111" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0011" class="stakeholder-container"></td>
			<td class="bg-info" data-bg="bg-info"></td>
            <td></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
            <td></td>
            <td style="border-bottom-left-radius: 100%" class="bg-info" data-bg="bg-info"></td>
			<td class="bg-info" data-bg="bg-info" colspan="9"></td>
            <td style="border-bottom-right-radius: 100%" class="bg-info" data-bg="bg-info"></td>
            <td></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
            <td class="label"><div class="vertical">
			<span class="text-dark">{% if custom_similarity_parameter %}{{ custom_similarity_parameter }}{% else %}your parameter (not specified){% endif %}</span>
                </div></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="" colspan="3"></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
			<td data-similarities="1001" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="1101" class="stakeholder-container"></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td data-similarities="0101" class="stakeholder-container"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td data-similarities="0001" class="stakeholder-container"></td>
			<td class=""></td>
            <td></td>
			<td class="bg-dark" data-bg="bg-dark"></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
            <td colspan="3"></td>
            <td style="border-bottom-left-radius: 100%" class="bg-dark" data-bg="bg-dark"></td>
			<td class="bg-dark" data-bg="bg-dark" colspan="9"></td>
            <td style="border-bottom-right-radius: 100%" class="bg-dark" data-bg="bg-dark"></td>
		</tr>
        <tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="" colspan="5"></td>
			<td class="bg-warning" data-bg="bg-warning"></td>
			<td></td>
        	<td class="bg-danger" data-bg="bg-warning"></td>
			<td></td>
            <td class="bg-warning" data-bg="bg-warning"></td>
        </tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td class="" colspan="5"></td>
            <td style="border-bottom-left-radius: 100%" class="bg-warning" data-bg="bg-warning"></td>
			<td class="bg-warning" data-bg="bg-warning" colspan="3"></td>
            <td style="border-bottom-right-radius: 100%" class="bg-warning" data-bg="bg-warning"></td>
			<td colspan="3"></td>
		</tr>
		<tr>
            <td></td>
			<td class="bg-danger" data-bg="bg-danger"></td>
			<td colspan="7"></td>
            <td class="bg-danger" data-bg="bg-danger"></td>
		</tr>
        <tr>
            <td></td>
            <td style="border-bottom-left-radius: 100%" class="bg-danger" data-bg="bg-danger"></td>
			<td class="bg-danger" data-bg="bg-danger" colspan="7"></td>
            <td style="border-bottom-right-radius: 100%" class="bg-danger" data-bg="bg-danger"></td>
			<td colspan="5"></td>
		</tr>
	</table>


{% endblock %}


{% block js %}

<script>

$(document).ready(function() {

	var stakeholders = {{ venn|safe }};
	$venn = $('#venn');
	$.each(stakeholders, function(name, data) {
		console.log(data);
		$('#venn tr td[data-similarities=' + data.cell + ']').append(
			'<div><span class="nodeIcon"><img src="' + data.icon + '" width="50"></span> <span class="nodeName">' + name + '</span></div>'
		);
	});

	$('#linkVenn').addClass('d-none');
	$('#linkCircles').removeClass('d-none');
	$('#switchesVenn').removeClass('d-none');
	$('#switchesCircle').addClass('d-none');

	$('#goback').attr("href", "/mapper/view/circles/");
	//$('.menuButton[data-target=infoView]').click();

});

</script>

{% endblock %}
