{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js" integrity="sha512-4+XX9O3GEcpTWGNW7m3w/ORF91L4zUX01/U3wAoWIXp1P+LRBEqutZdQIFUeHSa0cJRZ9LPM+GOWus8h8TlYhg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.parsers.json.min.js" integrity="sha512-uhhcXJvqfQpnVqJRyCs49Ddt16zZ35qFokRiVOZei14sbMdMS9vtubrb1QQvGJ/zQhQbCttBvVJqqiZHrsHo1g==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.layout.forceAtlas2.min.js" integrity="sha512-RuRd3WCUb6GCaiaEJ2UDkaVblIVAHJNLaDG6Df2OWpzg4kQurQqh/GC/a3eFSopnRiNrwePMFvI13pbYZ1WnAw==" crossorigin="anonymous"></script>

{% endblock %}


{% block navbar %}

	<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
		<div class="container">

			<a class="navbar-brand" href="#">
				OEP Stakeholders
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto">
					{% for code, name in relation_groups %}
					<li class="nav-item group-tab">
						<a class="nav-link" href="#{{ name }}">
							<span class="badge badge-pill badge-secondary tab-pill">{{ forloop.counter }}</span>
							{{ name }}
						</a>
					</li>
					{% endfor %}
				</ul>

				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropup">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  {% trans "More" %}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalAddEntity">
								{% trans "Add entity" %}
							</a>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalAddEntity">
								{% trans "Remove entity" %}
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="">
								{% trans "Filter" %}
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="">
								{% trans "Export" %}
							</a>
							<a class="dropdown-item" href="">
								{% trans "Import" %}
							</a>
						</div>
					</li>
				</ul>

			</div>

		</div>
	</nav>

{% endblock %}


{% block content %}

	<div class="container">

	    <div id="canvas" class="w-100 m-4" style="height: 400px"></div>

	</div>


<div class="modal fade" id="modalAddEntity" tabindex="-1" role="dialog" aria-labelledby="modalAddEntity" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalAddEntity">
			{% trans "Add a new entity" %}
		</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

		  <form id="formAddNode">
			  {{ add_node_form|crispy }}
		  </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAddNode" >
			{% trans "Add entity" %}
		</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}

<script>

	$(window).on('hashchange', function( e ) {
		console.log(window.location.hash);
		var $pill = $('a[href="' + window.location.hash + '"]').find('span');
		$('.tab-pill').removeClass('badge-info').addClass('badge-secondary');
		$pill.removeClass('badge-secondary').addClass('badge-info');
	} );

	var relation_type_palette = {{ relation_type_palette|safe }};

	function layoutOptimize(s) {

		//Start the ForceAtlas2 algorithm to optimize network layout
		s.startForceAtlas2({worker: false, barnesHutOptimize: false, slowDown: 1000, iterationsPerRender: 1000});

		//Set time interval to allow layout algorithm to converge on a good state
		var t = 0;
		var interval = setInterval(function() {
			t += 1;
			if (t >= 5) {
				clearInterval(interval);
				s.stopForceAtlas2();
			}
		}, 100);
	}

    var s = new sigma('canvas',
		settings = {
			minNodeSize: 10,
			maxNodeSize: 100,
			minEdgeSize: 10,
			maxEdgeSize: 100
		}
    );
    var i = 0;

    s.graph.addNode({
      // Main attributes:
      id: i,
      label: '{% trans "You" %}',
      // Display attributes:
      x: 10,
      y: 10,
      size: 3,
      color: '#f00'
    })
	s.refresh();
	i += 1;

    $('#btnAddNode').click(function () {
		s.graph.addNode({
		  id: i,
		  label: $('#id_name').val(),
		  x: Math.floor(400 * Math.random()),
		  y: Math.floor(400 * Math.random()),
		  size: $('#id_size').val(),
		  color: relation_type_palette[$('#id_relation_type').val()]
		}).addEdge({
		  id: 'e' + i,
		  source: $('#id_add_to option:checked').val(),
		  target: i,
		  size: $('#id_weight').val(),
		  color: relation_type_palette[$('#id_relation_type').val()]
		});
		$('#id_add_to').append($('<option>', {
			value: i,
			text: $('#id_name').val()
		}));
		i += 1;
	    s.refresh();
	    layoutOptimize(s);
	    console.log({ nodes: s.graph.nodes(), edges: s.graph.edges() });
    });


</script>

{% endblock %}