{% extends 'base.html' %}
{% load i18n static crispy_forms_tags %}


{% block head %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js" integrity="sha512-4+XX9O3GEcpTWGNW7m3w/ORF91L4zUX01/U3wAoWIXp1P+LRBEqutZdQIFUeHSa0cJRZ9LPM+GOWus8h8TlYhg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.plugins.animate.min.js" integrity="sha512-WxjvX/yh2SfCPUnVmZkn4MYkF/jw8GKtEjFu2+P28bcqdYYsT6feJuaaQyBw7+KWfs87Ol4jb7jB+8qep+cocg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.plugins.dragNodes.min.js" integrity="sha512-w9i2zoWU7Te0i+TJoKMyBjHYAptYykPieNa0iT6/ofVbUHvqIhh6f4YVkXV84kAuGbIS+CqvSV/6AHTVt8bUrA==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.layout.noverlap.min.js" integrity="sha512-U0UOV2CPSrFlOxjSnHr6GMKsRjQIYmarSCgVp9R6FAcby2gLNPgQtGLXylELTBDLbS/R5g1vj5CFS4mLDdDfxQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.parsers.json.min.js" integrity="sha512-uhhcXJvqfQpnVqJRyCs49Ddt16zZ35qFokRiVOZei14sbMdMS9vtubrb1QQvGJ/zQhQbCttBvVJqqiZHrsHo1g==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.layout.forceAtlas2.min.js" integrity="sha512-RuRd3WCUb6GCaiaEJ2UDkaVblIVAHJNLaDG6Df2OWpzg4kQurQqh/GC/a3eFSopnRiNrwePMFvI13pbYZ1WnAw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.renderers.edgeLabels.min.js" integrity="sha512-NdmXr+AEuaizDckUjMI05kDsdoXbj6Z0fDxqAqPfhecHITSzGWPA/zeE/ousxA4pVIALj0V6/JgfTGYT9aS7Jw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.renderers.snapshot.min.js" integrity="sha512-hRIEjoSHrn4AeSezC5FE4/5QjnuiV3CtsjBdrG8sE7Rvs+PZ6PpTggvcBcw8VSH5KyoBhTAbPeMsa9tokxQ0yw==" crossorigin="anonymous"></script>

{% endblock %}


{% block navbar %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">

			<a class="navbar-brand" href="#">
				{% trans "OEP Stakeholder Mapper" %}
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTopSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTopSupportedContent">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="exportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  {% trans "Export" %}
						</a>
						<div class="dropdown-menu" aria-labelledby="exportDropdown">
							<a class="dropdown-item" href="#" id="exportJSON" download="network.json">
								{% trans "Data (JSON)" %}
							</a>
							<a class="dropdown-item" href="#" id="exportPNG" download="network.png">
								{% trans "Image (PNG)" %}
							</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="newDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  {% trans "New" %}
						</a>
						<div class="dropdown-menu" aria-labelledby="newDropdown">
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalAddEntity">
								{% trans "Stakeholder" %}
							</a>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalAddRelation">
								{% trans "Connection" %}
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalInitMap">
								{% trans "Network map" %}
							</a>
						</div>
					</li>
				</ul>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>

			</div>

		</div>
	</nav>


	<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light">
		<div class="container">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav mr-auto" id="ulGroups">
					{% for name, first_relation in group_first_relation %}
					<li class="nav-item group-tab">
						<a class="nav-link" href="#" data-target="#modalAddEntity-{{ first_relation }}">
							<span class="badge badge-pill badge-secondary tab-pill">{{ forloop.counter }}</span>
							{{ name }}
						</a>
					</li>
					{% endfor %}
				</ul>

				{% comment %}
				<span id="mapInfo" class="text-muted">
					{% blocktrans %}<span id="numNodes">3</span> nodes, <span id="numEdges">5</span> connections{% endblocktrans %}
				</span>
				{% endcomment %}

			</div>

		</div>
	</nav>

{% endblock %}


{% block content %}

<div class="container">

	<div id="canvas" class="w-100 m-4" style="height: 400px"></div>

</div>



<div class="modal fade" id="modalAddEntity" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
			{% trans "Add a new stakeholder" %}
		</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

		  <form id="formAddNode">
			  {{ add_node_form|crispy }}
		  </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnAddNode" >
			{% trans "Add entity" %}
		</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modalInitMap" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<form id="formMapCreate" method="post" action="{% url 'graph_create' %}">

				<div class="modal-header">
					<h5 class="modal-title">
						{% trans "Welcome to the Stakeholder Mapper" %}
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<p>
						{% trans "To support you in identifying and selecting potential collaborators, let’s start by getting to know you." %}
					</p>

					{{ map_form|crispy }}

				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-outline-primary" data-dismiss="modal"
						data-toggle="modal" data-target="#modalUploadMap">
						{% trans "Upload map" %}
					</button>

					<button type="submit" class="btn btn-primary">
						{% trans "Create map" %}
					</button>

				</div>

			</form>

		</div>
	</div>
</div>


<div class="modal fade" id="modalUploadMap" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
			{% trans "Upload an existing network map" %}
		</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

		  <form id="formUploadMap">
			  {{ map_upload_form|crispy }}
		  </form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnUploadMap" >
			{% trans "Upload map" %}
		</button>
      </div>
    </div>
  </div>
</div>



{% for group_name, relation_types in relation_types_grouped.items %}

	{% for relation_type in relation_types.values %}

		<div class="modal {% if forloop.first %}fade{% endif %}" id="modalAddEntity-{{ relation_type.id }}" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">
							{% blocktrans %}{{ group_name }} stakeholders{% endblocktrans %}
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">

						<h6>
							{{ relation_type.question }}
						</h6>

						{% if relation_type.description %}
						<p>
							{{ relation_type.description }}
						</p>
						{% endif %}

						<form id="formAddStakeholder-{{ relation_type.id }}">
							<input type="hidden" name="add_to" value="0">
							<input type="hidden" name="relation_type" value="{{ relation_type.id }}">

							<div id="stakeholder-names-{{ relation_type.id }}">

							{% for x in '123' %}
								<div id="div_id_stakeholder-name-{{ relation_type.id }}" class="form-group stakeholder-name">
									<label for="id_stakeholder-name-{{ relation_type.id }}-{{ forloop.counter }}" class=" requiredField">
										{% trans "Name of the stakeholder" %}
									</label>
									<div class="">
										<input type="text" name="stakeholder-name" class="textinput textInput form-control form-control form-control input-stakeholder-name" required="" id="id_stakeholder-name-{{ relation_type.id }}-{{ forloop.counter }}">
									</div>
								</div>
							{% endfor %}

							</div>

							<a href="#" class="addMoreStakeholder" data-target="stakeholder-names-{{ relation_type.id }}">{% trans "Add another" %}</a>

						</form>

					</div>

					<div class="modal-footer">

						<button type="button" class="btn btn-primary btnAddStakeholder"
							data-form="formAddStakeholder-{{ relation_type.id }}" data-relation="{{ relation_type.id }}"
							data-toggle="modal" data-target="#modalAddEntity-{{ relation_type.group_next.id }}" data-dismiss="modal">

							{% if not forloop.last %}

								{% trans "Next" %}

							{% else %}

								{% trans "Done" %}

							{% endif %}

						</button>

					</div>
				</div>
			</div>
		</div>

	{% endfor %}

{% endfor %}


{% endblock %}


{% block js %}

<script>

	var mapId;

    var s = new sigma({
    	renderer: {
    		container: 'canvas',
    		type: 'canvas'
    	},
		settings: {
			minNodeSize: 1,
			maxNodeSize: 10,
			minEdgeSize: 1,
			maxEdgeSize: 3,
			edgeLabelSize: 'proportional',
			labelThreshold: 1
		}
    });

    var listener = s.configNoverlap({});
	s.startNoverlap();

    let dragListener = sigma.plugins.dragNodes(s, s.renderers[0]);

    var i = 0;

    function saveGraph() {
		var graphData = JSON.stringify({
			graph: {
				nodes: s.graph.nodes(),
				edges: s.graph.edges()
			}
		})
		$.ajax({
			type: 'POST',
			url: '{% url "graph_update" %}',
			data: graphData,
			contentType: "application/json",
			dataType: 'json',
			success: function(data) {}
		});
    }

	function layoutOptimize(s) {
		//Start the ForceAtlas2 algorithm to optimize network layout
		s.startForceAtlas2({worker: false, barnesHutOptimize: false, slowDown: 1000, iterationsPerRender: 1000});
		//Set time interval to allow layout algorithm to converge on a good state
		var t = 0;
		var interval = setInterval(function() {
			t += 1;
			if (t >= 5) {
				clearInterval(interval);
				s.stopForceAtlas2();
			}
		}, 100);
	}

	dragListener.bind('drop', function(event) {
		saveGraph();
	});

	$('.addMoreStakeholder').click(function() {
		var $container = $('#' + $(this).data('target'));
		$container.find('.stakeholder-name').first().clone().appendTo($container);
	});

	$('.btnAddStakeholder').click(function() {
		var $form = $('#' + $(this).data('form'));
		var relationType = $(this).data('relation');
		var inputs = $form.find('.input-stakeholder-name');
		$.each(inputs, function(index, input) {
			if (input.value.length !== 0) {
				i += 1;
				s.graph.addNode({
				  id: i,
				  label: input.value,
				  x: Math.floor(400 * Math.random()),
				  y: Math.floor(400 * Math.random()),
				  size: 2,
				  color: relation_types[relationType].color
				}).addEdge({
				  id: 'e' + i,
				  source: 0,
				  target: i,
				  size: 1,
				  label: relation_types[relationType].name,
				  color: relation_types[relationType].color
				});
				$('#id_node-add_to').append($('<option>', {
					value: i,
					text: $('#id_name').val()
				}));
				input.value = '';
			}
		});
		s.refresh();
		layoutOptimize(s);
		saveGraph();
	});

	$popoverInitial = $('#ulGroups').popover({
		container: 'body',
		title: '{% trans "Map created successfully!" %}',
		content: '{% trans "Now click on the tabs to mark the stakeholders." %}',
		placement: 'top'
	});

	$('.group-tab').click(function(e) {
		var $pill = $(this).find('span');
		$('.tab-pill').removeClass('badge-info').addClass('badge-secondary');
		$pill.removeClass('badge-secondary').addClass('badge-info');
		var $modal = $($(this).find('a').data('target'));
		$popoverInitial.popover('hide').popover('disable');
		$modal.modal('show');
	});

	var relation_types = {{ relation_types_flat|safe }};

	{% if not map %}

		$('#modalInitMap').modal('show');

	{% else %}

		mapId = {{ map.id }};

		var nodes = {{ map.graph.nodes|safe }};
		var edges = {{ map.graph.edges|safe }};

		$.each(nodes, function(index, node) {
			s.graph.addNode({
			  id: node.id,
			  label: node.label,
			  x: node.x,
			  y: node.y,
			  size: node.size,
			  color: node.color
			})

			$('#id_node-add_to').append($('<option>', {
				value: node.id,
				text: node.label
			}));

			i = node.id;
		});

		$.each(edges, function(index, edge) {
			s.graph.addEdge({
				id: edge.id,
				source: edge.source,
				target: edge.target,
				size: edge.size,
				label: edge.label,
				color: edge.color
			})
		});

		s.refresh();

	{% endif %}

	$('#formMapCreate').submit(function(e) {
		e.preventDefault();
		s.graph.clear();
		i = 0;

		s.graph.addNode({
		  id: i,
		  label: $('#id_map-name').val(),
		  x: 10,
		  y: 10,
		  size: $('#id_map-size').val(),
		  color: '#f00'
		})

		$('#id_node-add_to').append($('<option>', {
			value: i,
			text: $('#id_map-name').val()
		}));

		s.refresh();

		i += 1;

		$.post("{% url "graph_create" %}", $("#formMapCreate").serialize()).done(function(data) {
			mapId = data.id;
			saveGraph();
		});

		$('#modalInitMap').modal('hide');
		$popoverInitial.popover('show');
	});

    $('#btnAddNode').click(function () {
		i += 1;
		s.graph.addNode({
		  id: i,
		  label: $('#id_node-name').val(),
		  x: Math.floor(400 * Math.random()),
		  y: Math.floor(400 * Math.random()),
		  size: $('#id_node-size').val(),
		  color: relation_types[$('#id_node-relation_type').val()].color
		}).addEdge({
		  id: 'e' + i,
		  source: $('#id_node-add_to option:checked').val(),
		  target: i,
		  size: $('#id_node-weight').val(),
		  label: relation_types[$('#id_node-relation_type').val()].name,
		  color: relation_types[$('#id_node-relation_type').val()].color
		});
		$('#id_node-add_to').append($('<option>', {
			value: i,
			text: $('#id_name').val()
		}));

		s.refresh();
		layoutOptimize(s);
		saveGraph();
    });

	var $exportPNG = $('#exportPNG');
    $exportPNG.click(function() {
        var src_base64 = s.renderers[0].snapshot({format: 'png', background: 'white', labels: true});
        $exportPNG.attr('href', src_base64);
    });

	var $exportJSON = $('#exportJSON');
    $exportJSON.click(function() {
		var data = btoa(
			JSON.stringify({
				name: s.graph.nodes()[0].label,
				graph: {
					nodes: s.graph.nodes(),
					edges: s.graph.edges()
				}
			})
		);
        $exportJSON.attr('href', 'data:text/json;base64,' + data);
    });

</script>

{% endblock %}