{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}



    <h1 class="my-5 text-center">
        {{ page.get_title|richtext }}
    </h1>


    {% if page.cover_photo %}
        {% image page.cover_photo scale-100 as bg_img %}
        <div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}'); height: 800px;">
        </div>
    {% endif %}


<div class="container">

    <div class="my-2">
        <span class="text-muted d-block">{{ page.time }}</span>
        <span class="text-muted d-block">Photo credits: {{ page.location }}</span>
    </div>

    <article class="my-5">
        {% for block in page.body %}
            <section class="block-{{ block.block_type }} mb-4">
            {% if block.block_type == 'heading' %}
                <h3>{{ block.value }}</h3>
            {% elif block.block_type == 'image' %}
                {% image block.value width-1200 class="mw-100" %}
            {% elif block.block_type == 'quote' %}
                <blockquote class="blockquote text-center">
                    <p class="mb-0">
                        {{ block.value }}
                    </p>
                </blockquote>
            {% else %}
                {% include_block block %}
            {% endif %}
            </section>
        {% endfor %}
    </article>

</div>

{% endblock %}
