{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}


{% block content %}

{% with pinned_event=page.get_pinned_event %}

{% if pinned_event %}

	{% image pinned_event.cover_photo scale-100 as bg_img %}

	<div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}');">

		<div class="container mb-4 mt-n4" style="margin-top: -120px!important;">

			<br><br><br><br>
			<br><br><br><br>

			<a href="{{ pinned_event.url }}" class="text-decoration-none">
				<h1 class="display-2 mb-4 w-75">
					{{ pinned_event.get_title|upper|richtext }}
				</h1>
			</a>

			<br><br>

			<div class="my-4">
				{{ pinned_event.excerpt|richtext }}
				<br><br>
				{{ pinned_event.time }}
				<br>
				{{ pinned_event.location }}
			</div>

			<br><br><br><br>
			<br><br><br><br>

		</div><!-- container -->

	</div><!-- container -->

{% endif %}

{% endwith %}


<div class="container">


	{% with upcoming_events=page.get_upcoming_events %}

		{% if upcoming_events %}

			<h2 class="text-center">{% trans "UPCOMING EVENTS" %}</h2>

			<div class="row">

			{% for event in page.get_children.specific %}

				<div class="col-md-4">

					<div class="my-4">

						<div class="text-center">

							<a href="{{ event.url }}">
								{% image event.thumbnail fill-200x200 %}
							</a>

							<h5 class="card-title text-center mt-3">
								{{ event.title|upper }}
							</h5>

						</div>

						<div class="mt-3 text-justify">

							{{ event.excerpt|richtext }}

						</div>

					</div>

				</div>

			{% endfor %}

			</div>

		{% endif %}

	{% endwith %}


	{% with upcoming_events=page.get_past_events %}

		{% if upcoming_events %}

			<h2 class="text-center">{% trans "PAST EVENTS" %}</h2>

			<div class="row">

			{% for event in page.get_children.specific %}

				<div class="col-md-4">

					<div class="my-4">

						<div class="text-center">

							<a href="{{ event.url }}">
								{% image event.thumbnail fill-200x200 %}
							</a>

							<h5 class="card-title text-center mt-3">
								{{ event.title|upper }}
							</h5>

						</div>

						<div class="mt-3 text-justify">

							{{ event.excerpt|richtext }}

						</div>

					</div>

				</div>

			{% endfor %}

			</div>

		{% endif %}

	{% endwith %}

</div>

{% endblock %}
