{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags i18n %}


{% get_current_language as LANGUAGE_CODE %}


{% block content %}

{% with pinned_event=page.get_pinned_event %}

{% if pinned_event %}

	{% image pinned_event.cover_photo scale-100 as bg_img %}

	<div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}');">

		<div class="container mb-4 mt-n4" style="margin-top: -120px!important;">

			<br><br><br><br>
			<br><br><br><br>

			<a href="{{ pinned_event.url }}" class="text-decoration-none">
				<h1 class="display-2 mb-4 w-75">
					{% if LANGUAGE_CODE == 'fi' %}
						{{ pinned_event.get_title_fi|upper|richtext }}
					{% else %}
						{{ pinned_event.get_title|upper|richtext }}
					{% endif %}
				</h1>
			</a>

			<br><br>

			<div class="my-4">
				{% if LANGUAGE_CODE == 'fi' and pinned_event.excerpt_fi %}
					{{ pinned_event.excerpt_fi|richtext }}
				{% else %}
					{{ pinned_event.excerpt|richtext }}
				{% endif %}
				<br><br>
				{{ pinned_event.time }}
				<br>
				{{ pinned_event.location }}
			</div>

			<br><br><br><br>
			<br><br><br><br>

		</div><!-- container -->

	</div><!-- container -->

{% endif %}

{% endwith %}


<div class="container">


	{% with upcoming_events=page.get_upcoming_events %}

		{% if upcoming_events %}

			<h2 class="text-center">{% trans "UPCOMING EVENTS" %}</h2>

			<div class="row">

			{% for event in page.get_children.specific %}

				<div class="col-md-4 col-sm-6 my-4">

					<div class="card mb-2 border-0">

						<a href="{{ event.url }}" class="stretched-link">
							{% image event.thumbnail fill-350x240 class="img-fluid" %}
						</a>

						<div class="card-body">
							<h4 class="card-title mt-3">
								{% if LANGUAGE_CODE == 'fi' and event.title_fi %}
									{{ event.title_fi|upper }}
								{% else %}
									{{ event.title|upper }}
								{% endif %}
							</h4>

							<div class="mt-3 text-justify">
								{% if LANGUAGE_CODE == 'fi' and event.excerpt_fi %}
									{{ event.excerpt_fi|richtext }}
								{% else %}
									{{ event.excerpt|richtext }}
								{% endif %}
							</div>
						</div>

					</div>

				</div>

			{% endfor %}

			</div>

		{% endif %}

	{% endwith %}


	{% with upcoming_events=page.get_past_events %}

		{% if upcoming_events %}

			<h2 class="text-center">{% trans "PAST EVENTS" %}</h2>

			<div class="row">

			{% for event in page.get_children.specific %}

				<div class="col-md-4 col-sm-6 my-4">

					<div class="card mb-2 border-0">

						<a href="{{ event.url }}" class="stretched-link">
							{% image event.thumbnail fill-350x240 class="img-fluid" %}
						</a>

						<div class="card-body">
							<h4 class="card-title mt-3">
								{% if LANGUAGE_CODE == 'fi' and event.title_fi %}
									{{ event.title_fi|upper }}
								{% else %}
									{{ event.title|upper }}
								{% endif %}
							</h4>

							<div class="mt-3 text-justify">
								{% if LANGUAGE_CODE == 'fi' and event.excerpt_fi %}
									{{ event.excerpt_fi|richtext }}
								{% else %}
									{{ event.excerpt|richtext }}
								{% endif %}
							</div>
						</div>

					</div>

				</div>

			{% endfor %}

			</div>

		{% endif %}

	{% endwith %}

</div>

{% endblock %}
