{% extends 'base.html' %}
{% load static i18n %}

{% block nav-items %}

	{{ block.super }}

	{% if not user.is_anonymous %}

		{% if post %}
		{% url 'blog_post_edit' post_id=post.id as blog_edit_url %}
		<li class="nav-item {% if request.path|slice:':10' == blog_edit_url|slice:':5' %}active{% endif %}">
			<a href="{{ blog_edit_url }}" class="nav-link">{% trans "Edit post" %}</a>
		</li>
		{% endif %}

		{% url 'blog_post_add' as blog_add_url %}
		<li class="nav-item {% if request.path|slice:':10' == blog_add_url|slice:':5' %}active{% endif %}">
			<a href="{{ blog_add_url }}" class="nav-link">{% trans "New post" %}</a>
		</li>

	{% endif %}

{% endblock %}
