{% extends 'blog/base.html' %}
{% load i18n static %}


{% block content %}

		<div class="container">

                <h4 class="p-title"><b>{{ title }}</b></h4>

				{% if series %}

                <div class="row my-4">

					<div class="col">

						<table class="table">
						{% for contribution_type, contributors in series.contributors_dict.items %}
							<tr>
								<th>{{ contribution_type }}</th>
								<td>
									{% for contributor in contributors %}
										<a href="{{ contributor.contributor.get_absolute_url }}" class="text-warning">{{ contributor.contributor.name }}</a>
										{% if not forloop.last %} & {% endif %}
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
						</table>

					</div>

					{% for issue in series.issues.all %}

					<div class="col">

						<a href="{{ issue.get_absolute_url }}">
							<img src="{{ issue.cover.url }}" class="h-200xx">
							<span class="d-block text-center my-1">
								<strong>{{ issue.year }}</strong>
							</span>
						</a>

					</div>

					{% endfor %}

				</div>

				{% endif %}

                <div class="row">

                    {% for post in post_list %}

                        <div class="col-md-4 col-sm-6">

                            <a href="{{ post.get_absolute_url }}">

								{% if post.image %}
									<img src="{{ post.image.url }}" class="w-100" style="object-fit: cover;">
								{% endif %}

                            </a>
							<h4 class="pt-20"><a href="{{ post.get_absolute_url }}"><b>{{ post.title }}</b></a></h4>
							<ul class="list-li-mr-10 pt-10 mb-30">
								<li class="color-lite-black">
									{{ post.added|date:"j F Y" }}
								</li>
							</ul>

                        </div>

                    {% endfor %}

                </div><!-- row -->


		</div><!-- container -->

{% endblock %}
