{% load wagtailcore_tags wagtailimages_tags %}


{% image page.photo scale-100 as bg_img %}

<div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}');">

	<div class="container mb-4 mt-n4" style="margin-top: -88px!important;">

		<br><br><br><br>
		<br><br><br><br>

		<h1 class="display-2 mb-4 w-75">
			{{ page.header|richtext }}
		</h1>

		<br><br>

		<div class="my-4 w-50">
			{{ page.text|richtext }}
		</div>

		<br><br><br><br>
		<br><br><br><br>

	</div><!-- container -->

</div><!-- container -->
