{% extends 'base.html' %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}


{% block content %}

{% image page.photo scale-100 as bg_img %}
{% include 'page_cover.html' %}

<div class="container">

	<h2 class="text-center">
		Meet the Team
	</h2>

	<div class="row">

		{% for member in page.team_members %}

		<div class="col-md-4">

			<div class="my-4">

				<div class="text-center">

					{% image member.value.photo fill-200x200 %}

					<h5 class="card-title text-center mt-3">
						{{ member.value.name|upper }}
						<small class="d-block">
							{{ member.value.title }}
						</small>
					</h5>

					<div class="text-muted">
					{% if member.value.email %}
						{{ member.value.email }}
					{% else %}
						&nbsp;
					{% endif %}
					</div>

					<div class="text-muted">
					{% if member.value.phone %}
						{{ member.value.phone }}
					{% else %}
						&nbsp;
					{% endif %}
					</div>

				</div>

				<div class="mt-3 text-justify">
					{{ member.value.bio|richtext }}
				</div>

			</div>

		</div>

		{% endfor %}

	</div>


	{% if page.footer %}
	<div class="row d-flex justify-content-center my-5">
		<div class="w-50 text-center my-5 p-2">
			{{ page.footer|richtext }}
		</div>
		</div>
	{% endif %}

</div>


{% endblock %}
