{% extends 'base.html' %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}


{% block content %}

{% include 'page_cover.html' %}


{% for section in page.sections %}

<div class="container-fluid bg" style="background-image: url('{{ section.image.url }}');">

	<div class="container mb-4 text-center">

		<br><br><br><br>

		<h1 class="display-4 mb-4">
			{{ section.heading|linebreaksbr }}
		</h1>

		<br><br>

	</div><!-- container -->

</div><!-- container -->

<div class="container mb-4">
	<div class="row my-4">

		<div class="col">
			{{ section.text }}
		</div>

		{% if section.link %}
		<div class="col">
			<a href="{{ section.link.get_absolute_url }}" class="text-primary lead text-decoration-none">
				<strong>
					{% if section.link_text %}
						{{ section.link.text }}
					{% else %}
						{{ section.link.title }}
					{% endif %}
					<img src="{% static 'arrow_right.png' %}" height="20" width="20">
				</strong>
			</a>
		</div>
		{% endif %}

	</div>

	<br><br><br><br>
</div>

{% endfor %}


{% endblock %}
