{% extends 'base.html' %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}


{% block content %}

{% include 'page_cover.html' %}


{% for section in page.sections %}

<section>

	{% image section.value.image original as img %}

	<div class="container-fluid bg" style="background-image: url('{{ img.url }}');">

		<div class="container mb-4 text-center">

			<br><br><br><br>

			<h1 class="display-4 mb-4">
				{{ section.value.heading|linebreaksbr }}
			</h1>

			<br><br>

		</div><!-- container -->

	</div><!-- container -->

	<div class="container mb-4">
		<div class="row my-4">

			<div class="col">
				{{ section.value.text }}
			</div>

			{% if section.value.link %}
			<div class="col">
				<a href="{{ section.value.link.url }}" class="text-primary lead text-decoration-none">
					<strong>
						{% if section.value.link_text %}
							{{ section.value.link_text }}
						{% else %}
							{{ section.value.link.title }}
						{% endif %}
						<img src="{% static 'arrow_right.png' %}" height="20" width="20">
					</strong>
				</a>
			</div>
			{% endif %}

		</div>

		<br><br><br><br>
	</div>

</section>

{% endfor %}


{% endblock %}
