{% extends 'base.html' %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}


{% get_current_language as LANGUAGE_CODE %}


{% block content %}

{% image page.photo scale-100 as bg_img %}
{% include 'page_cover.html' %}

<br><br>
<br><br>

{% for section in page.sections %}

<section>

	{% image section.value.image original as img %}

	<div class="container-fluid bg" style="background-image: url('{{ img.url }}');">

		<div class="container mb-4 text-center">

			<br><br><br><br>

			<h1 class="display-4 mb-4">
				{% if LANGUAGE_CODE == 'fi' and section.value.heading_fi %}
					{{ section.value.heading_fi|richtext }}
				{% else %}
					{{ section.value.heading|richtext }}
				{% endif %}
			</h1>

			<br><br>

		</div><!-- container -->

	</div><!-- container -->

	<div class="container mb-4">
		<div class="row my-4">

			<div class="col">
				{% if LANGUAGE_CODE == 'fi' and section.value.heading_fi %}
					{{ section.value.text_fi }}
				{% else %}
					{{ section.value.text }}
				{% endif %}
			</div>

			{% if section.value.link %}
			<div class="col">
				<a href="{{ section.value.link.url }}" class="d-flex align-items-center lead text-decoration-none" style="font-family: GillSansSemiBold; letter-spacing: .1em; color: #242847;">
					{% if section.value.link_text %}
						{% if LANGUAGE_CODE == 'fi' and section.value.link_text_fi %}
							{{ section.value.link_text_fi }}
						{% else %}
							{{ section.value.link_text }}
						{% endif %}
					{% else %}
						{{ section.value.link.title }}
					{% endif %}
					<img src="{% static 'arrow_right_small.png' %}" class="ml-2" style="height: 2rem;">
				</a>
			</div>
			{% endif %}

		</div>

		<br><br><br><br>
	</div>

</section>

{% endfor %}


{% endblock %}
