{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}


<div class="container">
    <h1 class="my-5 text-center" style="font-size: 3.8em;">
        {{ page.get_title|richtext }}
    </h1>
</div>


{% if page.cover_photo %}
    {% image page.cover_photo scale-100 as bg_img %}
    <div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}'); height: 410px;">
    </div>
{% endif %}


<div class="container">

    {% if page.author or page.photo_credits %}
    <div class="my-2 mx-5">
        {% if page.author %}
            <span class="text-muted d-block">{{ page.author }}</span>
        {% endif %}
        {% if page.photo_credits %}
            <span class="text-muted d-block">Photo credits: {{ page.photo_credits }}</span>
        {% endif %}
    </div>
    {% endif %}

    <article class="my-5 mx-5" style="line-height: 2.5em;">
        {% for block in page.body %}
            <section class="block-{{ block.block_type }} mb-4">
            {% if block.block_type == 'heading' %}
                <h3 style="font-size: 2.5em">{{ block.value }}</h3>
            {% elif block.block_type == 'image' %}
                {% image block.value width-1200 class="image-fluid mw-100 h-auto" %}
            {% elif block.block_type == 'quote' %}
                <blockquote class="blockquote text-center mx-5" style="line-height: 1em;">
                    <h4 class="mb-0 mx-5" style="font-family: GillSans; color: #DE6C5D; line-height: 1.7em;">
                        {{ block.value.quote|richtext }}
                    </h4>
                    {% if block.value.source %}
                        <footer class="small mx-5" style="color: #242847;">{{ block.value.source }}</footer>
                    {% endif %}
                </blockquote>
            {% else %}
                {% include_block block %}
            {% endif %}
            </section>
        {% endfor %}
    </article>

    {% comment %}
    {% if page.tags.all.count %}
        <div class="my-4">
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="badge badge-primary">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% endcomment %}


    {% if page.related_pages %}

        <h2 class="w-100 text-center mt-5">
            Related posts
        </h2>


        <div class="scrolling-wrapper d-flex flex-row flex-nowrap">

        {% for p in page.related_pages %}

            {% with page=p.value.specific %}

            <div class="col-3">

                <h6 class="w-100 text-center mt-4 mb-3" style="font-family: GillSansBold;">

                    {{ page.get_category|upper }}

                </h6>

                <div class="card card-block border-0">

                    <a href="{{ page.url }}" class="stretched-link">
                        {% image page.get_thumbnail fill-300x300 class="img-fluid" %}
                    </a>

                    <h5 class="card-title mt-4 mb-0">
                        {{ page.get_title|richtext|striptags }}
                    </h5>

                </div>

            </div>

            {% endwith %}

        {% endfor %}

        </div>

    {% endif %}


</div>

{% endblock %}
