{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}


    <h1 class="my-5 text-center" style="font-size: 3.8em;">
        {{ page.get_title|richtext }}
    </h1>


{% if page.cover_photo %}
    {% image page.cover_photo scale-100 as bg_img %}
    <div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}'); height: 410px;">
    </div>
{% endif %}


<div class="container">

    {% if page.author or page.photo_credits %}
    <div class="my-2">
        {% if page.author %}
            <span class="text-muted d-block">{{ page.author }}</span>
        {% endif %}
        {% if page.photo_credits %}
            <span class="text-muted d-block">Photo credits: {{ page.photo_credits }}</span>
        {% endif %}
    </div>
    {% endif %}

    <article class="my-5">
        {% for block in page.body %}
            <section class="block-{{ block.block_type }} mb-4">
            {% if block.block_type == 'heading' %}
                <h3 style="font-size: 2.5em">{{ block.value }}</h3>
            {% elif block.block_type == 'image' %}
                {% image block.value width-1200 class="mw-100" %}
            {% elif block.block_type == 'quote' %}
                <blockquote class="blockquote text-center">
                    <p class="mb-0">
                        {{ block.value }}
                    </p>
                </blockquote>
            {% else %}
                {% include_block block %}
            {% endif %}
            </section>
        {% endfor %}
    </article>

    {% comment %}
    {% if page.tags.all.count %}
        <div class="my-4">
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="badge badge-primary">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% endcomment %}

</div>

{% endblock %}
