{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block head %}

	<style>
		.scrolling-wrapper{
			overflow-x: auto;
		}
	</style>

{% endblock %}


{% block content %}

{% image page.photo scale-100 as bg_img %}
{% include 'page_cover.html' %}

<div class="container">

	{% for category in categories %}

		{% with posts=category.blogpostpage_set.live %}

			{% if posts %}

			<h2 class="w-100 text-center my-5">
				{{ category }}
			</h2>

			<div class="scrolling-wrapper d-flex flex-row flex-nowrap">
				{% for post in posts %}
				<div class="col-3">
					<div class="card card-block border-0">

						<a href="{{ post.url }}">
							{% image post.thumbnail fill-300x300 class="img-fluid" %}
						</a>

						<h5 class="card-title mt-4 mb-0">
							{{ post.title }}
						</h5>

						<div class="text-justify" style="line-height: 1.8em;">

							{{ post.excerpt|richtext }}

						</div>

					</div>
				</div>
				{% endfor %}
			</div>

			{% endif %}

		{% endwith %}

	{% endfor %}


</div>

{% endblock %}
