{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}


{% block content %}


<div class="container">
    <h1 class="my-5 text-center">
        {{ page.title }}
    </h1>
</div>


{% if page.cover_photo %}
    {% image page.cover_photo scale-100 as bg_img %}
    <div class="container-fluid bg" style="background-image: url('{{ bg_img.url }}'); height: 410px;">
    </div>
{% endif %}


<div class="container">

    {% if page.author or page.photo_credits %}
    <div class="my-2 mx-5">
        {% if page.author %}
            <span class="text-muted d-block">{{ page.author }}</span>
        {% endif %}
        {% if page.photo_credits %}
            <span class="text-muted d-block">Photo credits: {{ page.photo_credits }}</span>
        {% endif %}
    </div>
    {% endif %}

    <article class="my-5 mx-5" style="line-height: 2.5em;">
        {% for block in page.body %}
            <section class="block-{{ block.block_type }} mb-4">
            {% if block.block_type == 'heading' %}
                <h3 style="font-size: 2.5em">{{ block.value|upper|richtext }}</h3>
            {% elif block.block_type == 'image' %}
                {% image block.value width-1200 class="image-fluid mw-100 h-auto" %}
            {% elif block.block_type == 'quote' %}
                <blockquote class="blockquote text-center mx-5" style="line-height: 1em;">
                    <h4 class="mb-0 mx-md-5" style="font-family: GillSans; color: #DE6C5D; line-height: 1.7em;">
                        {{ block.value.quote|richtext }}
                    </h4>
                    {% if block.value.source %}
                        <footer class="small mx-5" style="color: #242847;">{{ block.value.source }}</footer>
                    {% endif %}
                </blockquote>
            {% else %}
                {% include_block block %}
            {% endif %}
            </section>
        {% endfor %}
    </article>

    {% comment %}
    {% if page.tags.all.count %}
        <div class="my-4">
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="badge badge-primary">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% endcomment %}


    {% with related_pages=page.related_pages %}

        {% if related_pages %}

		    <div id="carousel-related" class="carousel slide carousel-multi-item" data-ride="carousel">

				<div class="row controls-top">

					<div class="col-1">
					{% if related_pages|length > 3 %}
						<a class="btn-floating" href="#carousel-related" data-slide="prev">
							<img class="carousel-left my-5" data-target="carousel-related" src="{% static 'arrow_left_small.png' %}" width="40">
						</a>
					{% endif %}
					</div>

					<h2 class="col-10 text-center my-5">
						RELATED CONTENT
					</h2>

					<div class="col-1">
					{% if related_pages|length > 3 %}
						<a class="btn-floating" href="#carousel-related" data-slide="next">
							<img class="carousel-right my-5 float-right" data-target="carousel-related" src="{% static 'arrow_right_small.png' %}" width="40">
						</a>
					{% endif %}
					</div>

				</div>


				<div class="carousel-inner" role="listbox">

                {% for p in related_pages %}

                    {% with post=p.value.specific %}

                        {% if forloop.counter0|divisibleby:3 %}
                            {% if not forloop.first %}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="row">
                        {% endif %}

                        {% image post.get_thumbnail fill-350x350 as post_img %}

                        <div class="col-md-4 {% if not forloop.counter0|divisibleby:3 %}clearfix d-none d-md-block{% endif %}">
                          <div class="card mb-2 border-0">
                              <a href="{{ post.url }}" class="stretched-link">
                                <img class="card-img-top img-fluid" src="{{ post_img.url }}" alt="{{ post.title }}">
                              </a>
                            <div class="card-body">
                              <h4 class="card-title">{{ post.title|upper }}</h4>
                              <p class="card-text text-justify">
                                  {{ post.excerpt|richtext }}
                              </p>
                            </div>
                          </div>
                        </div>

                        {% if forloop.last %}
                                </div>
                            </div>
                        {% endif %}

                    {% endwith %}

				{% endfor %}

				</div>

			</div>

        {% endif %}

    {% endwith %}


</div>

{% endblock %}
