{% extends 'blog/base.html' %}
{% load crispy_forms_tags i18n static %}


{% block title %}{% if post %}Editing {{ post.title }}{% else %}New post{% endif %} - Blog editor{% endblock %}


{% block navbar %}

    {{ block.super }}

    <nav class="navbar navbar-expand-sm fixed-bottom navbar-light bg-light">

        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <form class="form-inline my-2 my-lg-0">

                    <input id="tagInput" data-role="tagsinputx" class="form-control mr-sm-2" type="text" value="{{ post.tags.all|join:', ' }}" placeholder="{% trans "Tags" %}" aria-label="{% trans "Tags" %}">

                    <input id="categoryInput" list="categories" value="{% if post.category %}{{ post.category }}{% endif %}" class="form-control mr-sm-2" type="text" placeholder="{% trans "Category" %}" aria-label="{% trans "Category" %}">
                    <datalist id="categories">
                        {% for category in categories %}
                        <option value="{{ category.name }}">
                        {% endfor %}
                    </datalist>

                </form>

                <a href="#" id="adminEdit" class="{% if not post %}hide{% endif %}">{% trans "More" %}</a>

            </div>

            {% comment %}
            <span class="navbar-text">
                Auto saved
            </span>
            {% endcomment %}

            <form class="form-inline my-2 my-lg-0">
                <button id="btnSave" class="btn btn-outline-success my-2 my-sm-0 ml-2" type="button">{% trans "Save draft" %}</button>
                <button id="btnPublish" class="btn btn-success my-2 my-sm-0 ml-2" type="button">{% trans "Publish" %}</button>
            </form>

        </div>

    </nav>

{% endblock %}


{% block head %}

    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.7/jquery.jgrowl.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'tagsinput.css' %}" />
    <script src="{% static 'tagsinput.js' %}"></script>

{% endblock %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-9 text-left">
            <div id="editorjs" class="w-100">
            </div>
        </div>

        <div class="col-3">
        </div>
    </div>

</div>

{% endblock %}


{% block js %}

<script>

$(function() {

	$('#editorjs').css('height', $(window).height() - 120);

    var postId = {% if post.id %}{{ post.id }}{% else %}null{% endif %};

    const editor = new EditorJS({
        holder: 'editorjs',
        tools: {
            header: {
              class: Header,
              inlineToolbar: ['link'],
              config: {
                placeholder: '{% trans "Title" %}'
              },
              shortcut: 'CMD+SHIFT+H'
            },
            image: {
              class: ImageTool,
              config: {
                endpoints: {
                  byFile: '{% url "blog_post_upload_image" %}'
                }
              },
              // FIXME
              additionalRequestHeaders: {
                'HTTP_X_CSRFTOKEN': '{{ csrf_token }}'
              }
            },
            list: {
              class: List,
              inlineToolbar: true,
              shortcut: 'CMD+SHIFT+L'
            },
            quote: {
              class: Quote,
              inlineToolbar: true,
              config: {
                quotePlaceholder: 'Enter a quote',
                captionPlaceholder: 'Quote\'s author',
              },
              shortcut: 'CMD+SHIFT+O'
            },
            warning: Warning,
            marker: {
              class:  Marker,
              shortcut: 'CMD+SHIFT+M'
            },
            delimiter: Delimiter,
            linkTool: LinkTool,
            embed: Embed,
            table: {
              class: Table,
              inlineToolbar: true,
              shortcut: 'CMD+ALT+T'
            },
        },
        data: {% if post.content %}{{ post.content_js|safe }}{% else %}{
            blocks: [
                {"type": "header", "data": {"text": "", "level": 2}},
                {"type": "paragraph", "data": {"text": ""}}
            ]
        }{% endif %},
        onReady: () => {
            editor.focus(true);
       }
    });


    function saveDocument(publish) {
        editor.save().then((docContent) => {
            console.log('Article data: ', docContent);
            $.ajax({
                type: 'POST',
                url: '{% url "blog_post_save" %}',
                data: {
                    data: JSON.stringify(docContent),
                    id: postId,
                    publish: publish,
                    tags: $('#tagInput').val(),
                    category: $('#categoryInput').val(),
                },
                headers: {'X-CSRFTOKEN': '{{ csrf_token }}'},
                success: function(data) {
                    console.log(data);
                    $('#adminEdit').removeClass('hide');
                    if ('error' in data) {
                        $.jGrowl(data.error);
                    } else {
                        if (publish) {
                            $.jGrowl('{% trans "Document saved successfully" %}');
                            window.location = data.url;
                        } else {
                            $.jGrowl('{% trans "Draft saved successfully" %}');
                            postId = data.id;
                        };
                    }
                },
                dataType: 'json'
            });
        }).catch((error) => {
            console.log('Saving failed: ', error)
        });
    }

    $('#btnSave').click(function() {
        saveDocument(false);
    });

    $('#btnPublish').click(function() {
        saveDocument(true);
    });

    $('#adminEdit').click(function(e) {
        e.preventDefault();
        var url = '/admin/blog/post/' + postId + '/change/'
        window.location = url;
    });

});

</script>

{% endblock %}
